

  .subtitle {
    //   padding: 1rem;
    //   margin: 0px;
    color: #a4b1cd !important;
    font-weight: 600;
    line-height: 1rem;
    font-size: 1rem;
    // font-family: neue-haas-unica,sans-serif;
  }

  .avatar {
    width: 2rem;
    height: 2rem;
  }

  .imageContainer {
    width: 16rem !important;


  }

  img {
    // width: 16rem !important;
    // width: 100% !important;
    // padding: 2rem;
    height: 3rem;
  }

  :host ::ng-deep nb-sidebar {




    .main-container {
      // top: 0rem !important;
    }

    margin-right: 0 !important;
    margin-left: 0 !important;


    nb-list-item {
      padding: 0px !important;
      border: 0 !important;
    }

    .item {
      border: 0;
    }

    .scrollable {

      padding: 0px !important;

    }

    nb-tab {
      padding: 1.25rem;
    }


  }

  nb-list-item {
    margin-left: 3px !important;
    margin-right: 3px !important;
    margin-top: 0px !important;
    padding: 0.8rem !important;
    font-weight: 350 !important;

  }


  :host ::ng-deep {
    nb-layout-header {
      nav {
        padding: 0rem !important;
      }
    }

    .accordion-item-header-expanded {

      background: #fff !important;
      color: rgb(41, 40, 40) !important;
      font-weight: 550 !important;
    }
  }

  :host ::ng-deep {

    nb-accordion-item-body {
      .item-body {
        padding: 0px !important;

      }
    }

  }


  .selected-route {
    background: #fff !important;
    color: #000 !important;
    font-weight: 600 !important;
  }

  nb-sidebar-footer {
    margin: 0.4rem !important;
  }

  nb-sidebar-header {
    background: #171a21 !important;

  }

  // nb-sidebar-header {
  //   padding: 0px !important;
  //   font-weight: 600 !important;
  //   background: #171a21 !important;
  // }


  .colored {
    color: #3366ff;
  }


  .logo {
    width: 190px;
    height: auto;
  }


  nb-layout-column {
    overflow: hidden;
  }




  .roundBtn {
    width: 4rem;
    height: 4rem;


    line-height: 115px;
    text-align: center;
    border: 0px solid red;
    background-image: url("/assets/logo_mini.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }

  pre {
    // display: inline-block;
    // font-size: 20px;
    // padding-left: 10px;

    font: 500 12px / 1.5 Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    white-space: pre;
    padding: 0px 0px 0px 31px;
  }

  .fullView {
    // max-height: calc(100vh - 4rem);
    // overflow: sc;
  }

  button.newBtn {
    margin-right: 1rem !important;

    padding: 0.3rem !important;

    padding-left: 1rem !important;
    padding-right: 1rem !important;

    text-transform: capitalize !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149) !important;

    align-items: center !important;
    background-color: #fff !important;

    border: 1px solid transparent;
    border-radius: 24px;
    color: #3c4043 !important;


    span {
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    .icon {
      margin-right: 1rem;
      background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2236%22 height=%2236%22 viewBox=%220 0 36 36%22%3E%3Cpath fill=%22%2334A853%22 d=%22M16 16v14h4V20z%22/%3E%3Cpath fill=%22%234285F4%22 d=%22M30 16H20l-4 4h14z%22/%3E%3Cpath fill=%22%23FBBC05%22 d=%22M6 16v4h10l4-4z%22/%3E%3Cpath fill=%22%23EA4335%22 d=%22M20 16V6h-4v14z%22/%3E%3Cpath fill=%22none%22 d=%22M0 0h36v36H0z%22/%3E%3C/svg%3E');
      width: 2rem !important;
      height: 2rem !important;

    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(60, 64, 67, 0.302), 0 3px 5px 1px rgba(60, 64, 67, 0.149) !important;
      background-color: #fff !important;

    }
  }



.dialog {
  nb-card {
    width: 50rem !important;
    box-shadow: 0 4px 8px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 1px rgba(60, 64, 67, 0.149) !important;

  }
}


