<nb-layout>


  <nb-layout-header fixed>
    <div fxLayoutGap="1rem" fxFlex fxLayoutAlign="space-between center">
      <div class="imageContainer" fxLayoutAlign="center center">
        <img src="/assets/logo.png">
      </div>


      <div>


        <nb-form-field>
      
          <input fieldSize="large" type="text" nbInput placeholder="Create new tool">

          <!-- <button nbSuffix shape="round" nbButton status="basic"> -->
            <!-- <nb-icon class="text-alternate"  icon="plus"></nb-icon> -->
          <!-- </button> -->
        </nb-form-field>


      </div>


    </div>



  </nb-layout-header>



  <nb-sidebar left fxLayout="column">

    <nb-list>


      <nb-list-item @init *ngFor="let toolMenuItem of toolMenu; index as index">
        <app-navbar-list-item [activestate]="activeState" [item]="toolMenuItem" [routerlink]="toolMenuItem.type"
          fxLayout="column" [title]="toolMenuItem.name" fxFlex>
          <!-- <nb-icon icon="settings-outline">     </nb-icon> -->

        </app-navbar-list-item>
      </nb-list-item>


    </nb-list>




  </nb-sidebar>



  <nb-layout-column class="fullView">
    <app-tool-screen></app-tool-screen>
  </nb-layout-column>




</nb-layout>
