<nb-layout center>


  <nb-layout-header fixed>
    <div fxLayoutGap="1rem" fxFlex fxLayoutAlign="space-between center">
      <div class="imageContainer" fxLayoutAlign="center center">
        <img src="/assets/logo.png">
      </div>


      <div>


        <button class="newBtn" (click)="open(dialog)" shape="round" nbButton>

          <div class="icon" icon="plus"></div>

          <span>
            New

          </span>
        </button>



      </div>


    </div>



  </nb-layout-header>


  <nb-sidebar left fxLayout="column">



    <nb-list >

      <nb-list-item class="create" @init fxLayoutAlign="center">


        <div fxFlex fxLayout="row" >

          <button fullWidth class="newBtn" shape="round" nbButton>

            <div class="icon" icon="plus"></div>

            <span>
              Create Tool

            </span>
          </button>

        </div>
      </nb-list-item>


      <nb-list-item @init *ngFor="let toolMenuItem of toolMenu; index as index">
        <app-navbar-list-item [activestate]="activeState" [item]="toolMenuItem" [routerlink]="toolMenuItem.type"
          fxLayout="column" [title]="toolMenuItem.name" fxFlex>

        </app-navbar-list-item>
      </nb-list-item>
 

    </nb-list>
 


  </nb-sidebar>



  <nb-sidebar right fxLayout="column">



    <nb-list >

      <nb-list-item class="create" @init fxLayoutAlign="center">


        <div fxFlex fxLayout="row" >

          <button fullWidth class="newBtn" shape="round" nbButton>

            <div class="icon" icon="plus"></div>

            <span>
              Create Tool

            </span>
          </button>

        </div>
      </nb-list-item>


      <nb-list-item @init *ngFor="let toolMenuItem of toolMenu; index as index">
        <app-navbar-list-item [activestate]="activeState" [item]="toolMenuItem" [routerlink]="toolMenuItem.type"
          fxLayout="column" [title]="toolMenuItem.name" fxFlex>

        </app-navbar-list-item>
      </nb-list-item>
 

    </nb-list>
 


  </nb-sidebar>



  <nb-layout-column>
    <router-outlet>

    </router-outlet>
    <!-- <app-tool-screen></app-tool-screen> -->
  </nb-layout-column>


</nb-layout>




<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card style="min-width: 50rem;" class="dialog">
    <nb-card-header>
      <span class="h6 text-hint">
        Create new tool

      </span>
    </nb-card-header>
    <nb-card-body>

      <div style="margin: 1rem;">
        <nb-form-field fieldSize="small">
          <nb-icon icon="at" nbPrefix></nb-icon>
          <input fullWidth #alias nbInput placeholder="Alias">

        </nb-form-field>
      </div>
      <div style="margin: 1rem;">
        <nb-form-field>

          <input #name fullWidth nbInput fieldSize="large" placeholder="Name">
        </nb-form-field>
      </div>
      <div style="margin: 1rem;">
        <nb-form-field>

          <textarea #description style="resize: none;" fullWidth nbInput fieldSize="medium"
            placeholder="Description"></textarea>
        </nb-form-field>
      </div>
    </nb-card-body>
    <nb-card-footer fxLayoutAlign="end" fxLayoutGap="1rem">
      <button hero status="basic" nbButton (click)="ref.close()">Go Back</button>

      <button (click)="createTool( alias.value ,  name.value , description.value )" hero status="success" nbButton
        (click)="ref.close()">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
