.dialog {
  nb-card {
    width: 50rem !important;
    box-shadow: 0 4px 8px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 1px rgba(60, 64, 67, 0.149) !important;

  }
}




.create {
  margin: 1rem !important;

}


nb-card-header {
  padding: 0.4rem;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16), 2px 2px 3px rgba(0, 0, 0, 0.23);
}

nb-card-footer {
  padding: 0;


}


nb-card {
  max-height: calc(100vh - 7rem);
  margin: 0;
  .container {
    margin-top: 1rem;
  }

  textarea {
    resize: none;
  }
}
