
.dialog {
    nb-card {
      width: 50rem !important;
      box-shadow: 0 4px 8px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 1px rgba(60, 64, 67, 0.149) !important;
  
    }
  }
  
  
  
  
  .create{
    margin: 1rem !important;
  
  }