<nb-list fxFlex>

  <nb-list-item  *ngFor="let _ of loop">

    <nb-card status="success" fxFlex>
      <nb-card-header fxLayoutAlign="space-between center">

        <div fxLayoutGap="1rem" fxLayoutAlign="start center">

          <nb-icon icon="checkmark-circle-2"></nb-icon>

          <span class="subtitle-2 text-alternate">
            Hello World
          </span>



        </div>

        <button status="control" hero nbButton size="tiny">
          Save
        </button>
      </nb-card-header>
      <nb-card-body>

        <div class="cardcontainer" fxLayout="column">


          <div fxFlex fxLayoutAlign="start center" fxLayoutGap="1rem">
            <nb-icon icon="flip-2"></nb-icon>

            <span>
              <a class="text-basic">
                Helllo
              </a>
            </span>
            <span>
              Word
            </span>
          </div>

          <div fxFlex fxLayoutAlign="start center" fxLayoutGap="1rem">
            <nb-icon icon="flip-2"></nb-icon>

            <span>
              <a>
                Helllo
              </a>
            </span>
            <span>
              Word
            </span>
          </div>


          <div fxFlex fxLayoutAlign="start center" fxLayoutGap="1rem">
            <nb-icon icon="flip-2"></nb-icon>

            <span>
              <a>
                Helllo
              </a>
            </span>
            <span>
              Word
            </span>
          </div>


          <div fxFlex fxLayoutAlign="start center" fxLayoutGap="1rem">
            <nb-icon icon="flip-2"></nb-icon>

            <span>
              <a>
                Helllo
              </a>
            </span>
            <span>
              Word
            </span>
          </div>


          <div fxFlex fxLayoutAlign="start center" fxLayoutGap="1rem">
            <nb-icon icon="flip-2"></nb-icon>

            <span>
              <a>
                Helllo
              </a>
            </span>
            <span>
              Word
            </span>
          </div>

        </div>

      </nb-card-body>
    </nb-card>

  </nb-list-item>

</nb-list>
