:host nb-tab {
  padding: 0rem;
}


.stycky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  // top: 109px;
}



.list-item-head {
  font-weight: 600 !important; 
  font-size: 0.9rem;
  // background-color: #1e1e1e;;
  color: #a4b1cd !important;
  overflow: auto;

}


.list-head {
  height: 4rem;
}

.nogap{
  padding: 0rem !important;
}

nb-card {
  // height: 100%;
  // overflow: hidden;
  // max-height: 100%;
  // flex: 0 0 100%;
}

nb-card-body {
  // height: 0%;
  // overflow: hidden;
  // flex: 0 0 100%;
  // height: 0px !important;
  // overflow: scroll;
}

nb-list{
  height: 0px !important;
  overflow: scroll;
}

 