.list-item-head{
    font-weight: 600;
    font-size: 0.8rem;
    // background-color: #1e1e1e;;
    color: #a4b1cd!important;
}


.list-head{
    height: 4rem;
}



:host nb-tab {
  padding: 0rem;
}

.nogap{
  padding: 0rem !important;
}