<ng-container *ngIf=" tools$ | async as tools ; else loading">



  <nb-card *ngIf="false" >
    <nb-card-header>


      <div fxLayout="row" fxLayoutAlign="start center">

        <button shape="round" [routerLink]="['/tools' , '']" ghost status="basic" class="action" size="large" nbButton>
          <nb-icon icon="arrow-back-outline">

          </nb-icon>
        </button>

        <div class="h6 text-hint">
          Tools

        </div>
      </div>
    </nb-card-header>
    <nb-list>
      <nb-list-item fxLayout="row" fxLayoutAlign="space-between" *ngFor="let tool of tools">

        <div>

          <div class="title text-hint">
            {{ tool?.name || 'Tool Name' }}
          </div>
          <div class="desc text-hint">
            {{ tool?.description || 'Tool Description' }}
          </div>
        </div>


        <div>


          <button (click)="openDrawer(logsTemplate)" status="basic" ghost size="small" nbButton>

            <nb-icon icon="settings-2-outline"></nb-icon>
            Edit
          </button>


          <button status="basic" ghost size="small" nbButton>

            <nb-icon icon="diagonal-arrow-left-down-outline"></nb-icon>
            Fork
          </button>


          <button [routerLink]="[  '/tool'  , 'builds', tool?._id ]  " status="success" size="small"
            nbButton>Explore</button>
        </div>



      </nb-list-item>
    </nb-list>
  </nb-card>



  <nb-layout-header subHeader>

    <div fxLayout="row" fxLayoutAlign="start center">

      <button shape="round" [routerLink]="['/tools' , '']" ghost status="basic" class="action" size="large" nbButton>
        <nb-icon icon="arrow-back-outline">

        </nb-icon>
      </button>

      <div class="h6 text-hint">
        Tools

      </div>
    </div>

  </nb-layout-header>




  <nb-accordion   >
    <nb-accordion-item [expanded]="index == 0" *ngFor="let tool of tools   ; index as index ">
      <nb-accordion-item-header fxLayoutAlign="space-between">


        <span>
          {{ tool?.name || 'Tool Name' }}

        </span>

        <span class="text-hint">
          {{ '@' +  ( tool?.alias || 'Alias' ) }}
        </span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <div>

          <div class="text-hint">
            {{ tool?.description || 'Tool Description' }}
          </div>

          <div fxLayoutAlign="end center">


            <button (click)="openDrawer(logsTemplate)" status="basic" ghost size="small" nbButton>

              <nb-icon icon="settings-2-outline"></nb-icon>
              Edit
            </button>


            <button status="basic" ghost size="small" nbButton>

              <nb-icon icon="diagonal-arrow-left-down-outline"></nb-icon>
              Fork
            </button>


            <button [routerLink]="[  '/tool'  , 'builds', tool?._id ]  " status="success" size="small"
              nbButton>Explore</button>
          </div>

        </div>


      </nb-accordion-item-body>
    </nb-accordion-item>

  </nb-accordion>

</ng-container>


<ng-template #loading>
  <div fxLayoutAlign="center center">
    <ngx-progress-spinner></ngx-progress-spinner>
  </div>

</ng-template>
