<ng-container *ngIf=" tools$ | async as tools ; else loading">



  <nb-card *ngIf="false">
    <nb-card-header>


      <div fxLayout="row" fxLayoutAlign="start center">

        <button shape="round" [routerLink]="['/tools' , '']" ghost status="basic" class="action" size="large" nbButton>
          <nb-icon icon="arrow-back-outline">

          </nb-icon>
        </button>

        <div class="h6 text-hint">
          Tools

        </div>



        



      </div>
    </nb-card-header>
    <nb-list>
      <nb-list-item fxLayout="row" fxLayoutAlign="space-between" *ngFor="let tool of tools">

        <div>

          <div class="title text-hint">
            {{ tool?.name || 'Tool Name' }}
          </div>
          <div class="desc text-hint">
            {{ tool?.description || 'Tool Description' }}
          </div>
        </div>


        <div>





          <button (click)="openDrawer(toolEditTemplate  , context =  { 'tool_id':  tool?._id , 'edit_mode': true } )"
            status="basic" ghost size="small" nbButton>

            <nb-icon icon="settings-2-outline"></nb-icon>
            Edits
          </button>


          <button status="basic" ghost size="small" nbButton>

            <nb-icon icon="diagonal-arrow-left-down-outline"></nb-icon>
            Fork
          </button>


          <button [routerLink]="[ 'builds' , tool?._id ]  " status="success" size="small" nbButton>Explore</button>
        </div>



      </nb-list-item>
    </nb-list>
  </nb-card>



  <nb-layout-header subHeader>

    <div fxLayout="row" fxFlex fxLayoutAlign="start center">

      <button shape="round" [routerLink]="['/'  ]" ghost status="basic" class="action" size="large" nbButton>
        <nb-icon icon="arrow-back-outline">

        </nb-icon>
      </button>

      <div fxFlex class="h6 text-hint">
        Tools

      </div>


      <div fxLayout="row">
        <button [routerLink]=" [ '/jobs' ] " fullWidth class="newBtn" shape="round" nbButton>
          Jobs
        </button>

        <button (click)="openDrawer(toolEditTemplate)" class="newBtn" shape="round" nbButton>

          <div class="icon" icon="plus"></div>

          <span>
            Create Tool

          </span>
        </button>


      </div>


 

    </div>

  </nb-layout-header>




  <nb-accordion>
    <nb-accordion-item [expanded]="index == 0" *ngFor="let tool of tools   ; index as index ">
      <nb-accordion-item-header fxLayoutAlign="space-between">


        <span>
          {{ tool?.name || 'Tool Name' }}

        </span>

        <span class="text-hint">
          {{ '@' + ( tool?.alias || 'Alias' ) }}
        </span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <nb-card>
          <nb-card-body>
            <div>

              <div class="text-hint">
                {{ tool?.description || 'Tool Description' }}
              </div>

            </div>
          </nb-card-body>
          <nb-card-footer fxLayoutGap="1rem" fxLayoutAlign="end center">

            <div fxLayoutGap="0.5rem" fxLayoutAlign="end center">


              <nb-button-group fxLayoutGap="2px" multiple status="primary" size="small" appearance="filled">

                <button
                  (click)="openDrawer(toolEditTemplate  , context =  { 'tool_id':  tool?._id , 'edit_mode': true } )"
                  nbButton>

                  <nb-icon icon="settings-2-outline"></nb-icon>
                  Edit
                </button>
                <button (click)="openDrawer(logsTemplate)" nbButton>

                  <nb-icon icon="flip-2-outline"></nb-icon>
                  Deployments
                </button>

                <button [routerLink]="[ '/job' , tool?._id ]  " status="success" size="small" nbButton>Jobs</button>


                <button [routerLink]="[  '/tools'  , 'builds', tool?._id ]  " nbButton>
                  <nb-icon icon="expand-outline"></nb-icon>

                  Explore
                </button>

              </nb-button-group>





            </div>

          </nb-card-footer>

        </nb-card>

      </nb-accordion-item-body>
    </nb-accordion-item>

  </nb-accordion>

</ng-container>


<ng-template #loading>
  <div fxLayoutAlign="center center">
    <ngx-progress-spinner></ngx-progress-spinner>
  </div>

</ng-template>



<ng-template #toolEditTemplate let-close="close" let-context="context" let-ref="dialogRef">

  <app-tool-create [edit_mode]="context.edit_mode" [close]="close" [tool_id]="context.tool_id"></app-tool-create>
</ng-template>