@import '../../../themes';

 nb-accordion-item {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;

  nb-accordion-item-header {

    
    .text-hint{
      // color: nb-theme(text-hint-color) !important;
      color: #000 !important;

    }


    &:hover {
      // background: rgb(69, 81, 102);
      background: linear-gradient(to right, #457fca, #5b86e5);
      color: #fff;

      .text-hint{
        color: #fff !important;
  
      }
  

    }


    
  &.accordion-item-header-expanded {
    border-left: 2px nb-theme(text-basic-color) solid !important;

    .text-hint{
      color: nb-theme(text-hint-color) !important;

    }
  }


  }

}


nb-layout-header {
  padding: 0rem !important;
  margin: 0rem !important;
}

input {
  height: 100%;
}

nb-card {
  margin-bottom: 0;
  border: 0;
}

nb-accordion {
  margin-top: 1rem;

  height: calc(100vh - 12rem) !important;
  overflow: scroll;
}




button.newBtn {
  @include add-new-action-button()
}

.h6 {
  margin-left: 1rem;
}


.action {
  margin-left: 5px;
  &:hover {
    nb-icon {
      color: nb-theme(color-primary-500);
    }

  }
  
}