
// @import "./../../../../../variables";
// @import '~variables.scss';

.form-control{
    // text-align: center;
}

.preview{
    background-color: #f4f4f4;
    padding: 0.7rem;
    border-radius: 0.7rem;
}

nb-list-item {
    padding-bottom: calc(var(--list-item-padding) / 2);
    padding-top: 0px;
}

.item{
    margin-bottom: 3px;
}



:host ::ng-deep .custom-checkbox {
    width:  var(--small-checkbox);
    height: var(--small-checkbox); 

}

