@import '../../../themes';


:host {
  // background-color: var(--color-success-200);
  //   background-color: nb-theme(color-basic-400);

  margin-left: 0.5rem;

  #status{
    // font-size: 0.7rem !important;

  }
  nb-tag{
    font-size: 0.6rem !important;
    line-height: 1.2rem;
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
    height: 1.2rem;

    text-transform: capitalize !important;

  }

  #date{
    font-size: 0.7rem;
  }

  #job_name {
    // background-color: nb-theme(color-basic-500);
    font-size: 1rem;

    // padding: 0.5rem;
    border-radius: 1rem;

    &:hover {


      color: nb-theme(color-basic-650);



    }

  }

  #slash {
    // font-weight: 300;
    // line-height: 2rem;
    // height: 2rem;
    color: nb-theme(text-hint-color);
    padding: 0.2rem;

    font-size: 1.4rem;


  }

  #tool_name {
    // background-color: nb-theme(color-basic-500);
    // padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;

    &:hover {

      color: nb-theme(color-basic-650);


    }
  }


  #primeContainer {


    height: 2.5rem;

  }

  #secContainer {

    height: 1.5rem;

  }

}

.container {
  height: 4rem;
  margin-left: 5px;
}
