<div class="list-item" fxLayout="column" (debounceMouseOver)="expand()" [debounceTime]="220" (debounceMouseLeave)="collapse()"
  appDebounceClick>



  <div class="item" nbButton fxFlex appearance="ghost" [routerLink]="item.link"
    [style.background-color]="   activeState?.item_id  == item?.id ?  'hsla(0,0%,0%,0.3)'  : 'hsla(0,0%,00%,0)'  "
    size="small" fxLayoutAlign="Start">

    <div class="itemicon">
      <nb-icon [status]="  activeState?.item_id  == item?.id  ? 'basic' : 'info'"
        [icon]="  activeState?.item_id  == item?.id  ? 'chevron-down-outline' : 'chevron-right-outline'"
        icon="chevron-right-outline">

      </nb-icon>
    </div>

    {{title$}}

  </div>
  <!-- @slideInOut (@slideInOut.start)="onAnimationStart($event)" (@slideInOut.done)="onAnimationEnd($event)" -->

  <div [@collapse]=" expanded$ " class="subitemContainer collapsible" fxLayout="column">

    <!-- [routerLink]="child.link" -->

    <div [class.selected]=" activeState?.subitem_id == child?.id  " *ngFor="let child of item.children" class="subitem" fxFlex
      appearance="ghost"
      (click)="onItemClick(item , child)"
 size="small" fxLayoutAlign="Start">
      <div class="itemicon">
        <nb-icon [status]=" activeState?.subitem_id == child?.id  ? 'success' : 'basic'" [icon]="child?.icon">

        </nb-icon>
      </div>
      {{child?.name}}
    </div>



  </div>


</div>
