<div class="list-item" fxLayout="column">



  <div class="item" appDebounceClick (debounceClick)="toggle()" [debounceTime]="220" nbButton fxFlex appearance="ghost"
    [routerLink]="item.link"
    [style.background-color]="  expanded$ || item.path == router.url  ?  'hsla(0,0%,0%,0.3)'  : 'hsla(0,0%,00%,0)'  "
    size="small" fxLayoutAlign="Start">

    <div class="itemicon">
      <nb-icon [status]="expanded$  || item.path == router.url? 'basic' : 'info'"
        [icon]="expanded || item.path == router.url$ ? 'chevron-down-outline' : 'chevron-right-outline'"
        icon="chevron-right-outline">

      </nb-icon>
    </div>

    {{title$}}

  </div>
  <!-- @slideInOut (@slideInOut.start)="onAnimationStart($event)" (@slideInOut.done)="onAnimationEnd($event)" -->

  <div [@collapse]="!expanded$ " class="subitemContainer collapsible" fxLayout="column">



    <div [class.selected]=" child.path == router.url " *ngFor="let child of item.children" class="subitem" fxFlex
      appearance="ghost" [routerLink]="child.link" size="small" fxLayoutAlign="Start">
      <div class="itemicon">
        <nb-icon [status]=" child.path == router.url ? 'success' : 'basic'" [icon]="child?.icon">

        </nb-icon>
      </div>
      {{child?.name}}
    </div>



  </div>


</div>
