@import '../../../themes';



.active {
  .title {
    color: nb-theme(navitem-selected-text) !important;
  }


}


.container {

 

  .list-item {
    border-radius: nb-theme(navitem-radius);

    color: nb-theme(navitem-text);

    &:hover {
      color: nb-theme(navitem-hover-text);
      font-weight: 900 !important;
      @include gradient-hover-background();
    }

    &.expanded {
      @include gradient-expanded-background();
      color: nb-theme(navitem-hover-text);
    }




    &.active {
      color: nb-theme(navitem-hover-text);
      @include gradient-selected-background();
    }




    .item {
      // background-color: hsla(0, 0%, 00%, 0);
      font-size: 1rem !important;

      z-index: 6 !important;

      .title {

        padding: 1rem;
        font-weight: 450;


      }

    }


    .roundBtn {
      border-radius: 50%;
      width: 2.6rem;
      height: 2.6rem;
      margin-right: 1rem;

    }

    .roundBtn:hover {
      background: rgba(255, 255, 255, 0.527);
      // color: #fff;

    }
  }

  .collapsible {


    .subitem {

      &:hover {
        border-radius: nb-theme(navitem-radius) !important;

        .subtitle {
          color: nb-theme(navitem-selected-text) !important;

        }

      }

      &.active {
        color: nb-theme(navitem-selected-text) !important;
        border-radius: nb-theme(navitem-radius) !important;

        // background-color: nb-theme(navitem-selected-background);

      }

      .subtitle {
        color: nb-theme(navitem-text) !important;
        font-weight: 500;

      }

      &.selected {
        border-radius: nb-theme(navitem-radius) !important;
        background-color: nb-theme(navitem-selected-background);
        color: nb-theme(navitem-selected-text) !important;


        .subtitle {
          color: nb-theme(navitem-selected-text) !important;
          font-weight: 800 !important;
        }
      }


    }

  }


}





.expanded {


  // background-color: nb-theme(navitem-selected-background);
}




.subitem {
  margin-top: 2px !important;
  margin-bottom: 1px !important;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  z-index: 4 !important;

}



.subitem:hover {
  // border-radius: 4px;

  background-color: hsla(0, 0%, 0%, 0.3);
}

.subitemContainer {

  padding-left: 0.6rem;
  // padding-right: 0.4rem;
  margin: 0.2rem;
  // border-radius: 4px;
}

.list-item {
  // margin-bottom: 8px !important;
  margin-top: 8px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin-left: 0.2rem;
  margin-right: 0.2rem;

}

button {
  text-transform: capitalize !important;
}

.itemicon {
  // font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  // margin-left: 0.5rem;

}

.collapsible {
  overflow: hidden;
}
