<div class="container">


  <div [class.active]="  activeState?.item_id  == item?.id  " class="list-item" fxLayout="column"
    [class.expanded]=" expanded$ " (debounceClick)="toggle()" [debounceTime]="220" appDebounceClick>

    <div class="item" nbButton fxFlex appearance="ghost" fxLayoutAlign="center center" size="small">


      <!-- <div class="itemicon">
      <nb-icon [status]="  ( expanded$ ||  activeState?.item_id  == item?.id   )? 'basic' : 'info'" class="title"
        [icon]="  ( expanded$ ||  activeState?.item_id  == item?.id   ) ? 'chevron-down-outline' : 'chevron-right-outline'"
        icon="chevron-right-outline">

      </nb-icon>
    </div> -->

      <span class="title" fxFlex>
        {{title$}}

      </span>


      <div class="  roundBtn" fxLayoutAlign="center center">
        <nb-icon [class.active]="  activeState?.subitem_id  == item?.id  " icon="plus-outline">

        </nb-icon>
      </div>




    </div>
    <!-- @slideInOut (@slideInOut.start)="onAnimationStart($event)" (@slideInOut.done)="onAnimationEnd($event)" -->



  </div>

  <div [@collapse]=" ! ( expanded$ ||  activeState?.item_id  == item?.id   ) " class="subitemContainer collapsible"
    fxLayout="column">


    <!-- [routerLink]="child.link" -->

    <div [class.selected]=" activeState?.subitem_id == child?.id  " *ngFor="let child of item.children" class="subitem"
      fxFlex appearance="ghost" (click)="onItemClick(item , child ,  child.link )" size="small"
      fxLayoutAlign="start center">
      <div class="itemicon " fxLayoutAlign="start center">
        <nb-icon class="subtitle" [class.active]="  activeState?.subitem_id  == child?.id  " [icon]="child?.icon">

        </nb-icon>
      </div>
      <span class="subtitle" [class.selected]="  activeState?.subitem_id  == child?.id  ">
        {{child?.name}}

      </span>
    </div>



  </div>

</div>
