<div fxFlex class="container">


  <div class="scsroll" fxLayout="column">

    <ng-container *ngFor="let host of hosts ; index as index">

      <div fxLayout="column" (click)="detailedView(index)">

        <div [class.selected]="selected_host_list_item == index " fxLayout="row" fxFlex>

          <div appHoverColor fxFlex fxLayoutAlign="center center" fxLayoutGap="1rem" class="list-item">

            <ng-container *ngIf="host?.health == 'up' ; else healthDown">

              <nb-icon class="health-up " icon="arrow-up">

              </nb-icon>
            </ng-container>
            <ng-template #healthDown>
              <nb-icon class="health-down " icon="arrow-down">

              </nb-icon>
            </ng-template>

            <div appHoverColor fxFlex fxLayoutAlign="start center" class="list-item">


              <span class="marL list-item-head">
                {{host.host}}

              </span>
            </div>

          </div>
          <div appHoverColor fxFlex="150px" fxLayoutAlign="center center" class="list-item">
            {{host.group || 'None'}}

          </div>



          <div appHoverColor fxFlex="180px" fxLayoutAlign="center center" class="list-item">
            {{host.dou | date}}
          </div>
        </div>

      </div>
    </ng-container>

  </div>

</div>



<ng-template #template>

  <app-host-add></app-host-add>


</ng-template>
