

<div appBorder class="container" fxLayoutGap="1rem" fxLayout="column" >

  <div fxLayout="row">

    <div fxFlex="50%"  >
      <input fullWidth  disabled  nbInput [value]="app?.app_name" placeholder="App name">

    </div>


  </div>

  <div fxLayout="row">

    <div fxFlex="50%"  >
      <input fullWidth   disabled nbInput [value]="app?.package_name" placeholder="Package Name">

    </div>


  </div>


 





  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1rem">





    <button (click)="edit()" size="small" nbButton outline status="primary">
      Update
    </button>

    <button (click)="edit()" size="small" nbButton outline status="success">
      Download
    </button>

  </div>




</div>


<ng-template #editNewAppTemplate>


  <app-ios-create-new [app]="app">

  </app-ios-create-new>


</ng-template>
