<nb-layout>

  <nb-layout-column>
    <app-log-stream></app-log-stream>

  </nb-layout-column>
  <nb-layout-column>
    <!-- <app-tool-build-variants></app-tool-build-variants> -->

    <app-tool-list></app-tool-list>
  </nb-layout-column>
</nb-layout>




<!--  

<div 


>
  <as-split direction="horizontal">
    <as-split-area [size]="40">
      <app-tool-build-variants></app-tool-build-variants>

    </as-split-area>
    <as-split-area [size]="60">
      <app-log-stream></app-log-stream>

    </as-split-area>
  </as-split>
</div>

 -->


<!-- <div class="container">
  <div class="split-example ex-a">
    <as-split [direction]="direction" gutterSize="35">
      <as-split-area [size]="30">
        <app-tool-build-variants></app-tool-build-variants>

      </as-split-area>
      <as-split-area [size]="70">
        <app-log-stream></app-log-stream>

      </as-split-area>
    </as-split>
  </div>
</div> -->
