<header class="site-header">
  <div class="logo">
    <a [routerLink]="[ '/' ]" class="expand">
      <img class="header-logo-image" src="/assets/logo.png" alt="Logo">
    </a>
    <a [routerLink]="[ '/' ]" class="compact">
      <img class="header-logo-image" src="/assets/logo_mini.png" alt="Logo">
    </a>

  </div>

  <div class="buttons">

    <button [routerLink]="[ 'beta' ]" class="btn button-outline button-six">
      <span>Beta</span>
    </button>
    <button (click)="goTo('//docs.meddler.io')" class="btn button-outline button-two">
      <span>Docs</span>
    </button>




  </div>
</header>
