<nb-card fxFill>
  <nb-card-header fxLayoutAlign="start center">
    <!-- <button shape="round" [routerLink]="['/tools' , '']" ghost status="basic" class="action" size="medium" nbButton>
      <nb-icon icon="arrow-back-outline">
      </nb-icon>
    </button> -->
    <div class="subtitle-2">
      Choose Tool
    </div>


    <button shape="round" (click)="closeToolSelection()" ghost status="basic" class="action" size="medium" nbButton>
      <nb-icon icon="close-circle-outline">
      </nb-icon>
    </button>
  </nb-card-header>



  <nb-list>
    <nb-list-item (click)="onSelectTool(task?.tool)" *ngFor="let task of tools | async">

      <div class="container" fxLayoutAlign="center center" fxLayout="row">

        <div fxLayoutAlign="start center">
          <span [class.text-primary]="task?.job?.ID" class="dot ">&#183;</span>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
          <div fxFlex fxLayout="row"
          
          fxLayoutAlign="center center"
          >
            <p class="subtitle-2 ">
              {{task?.tool?.alias}}

            </p>

            <nb-icon icon="chevron-right-outline"></nb-icon>

            <p class="subtitle-2 text-hint ">

              {{task?.config?.identifier}}
            </p>
          </div>
        </div>
      </div>

    </nb-list-item>
  </nb-list>


</nb-card>