.marL {
  margin-left: 10px;
}

nb-layout-header {
  // background-color: #3366ff !important;
}

nb-card-body {
  // margin-bottom: 1rem;
}
nb-layout-column{
  // background-color: #fff !important;

}

list-item{
  overflow: hidden;
}
.error-message{
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}