<nb-card size="medium">



  <nb-card-header>

    <div fxFlex fxLayoutGap="1rem" fxLayoutAlign="center center">

      <nb-icon class="text-hint" icon="plus-circle">
      </nb-icon>
      <div fxFlex class="h6 text-hint">
        Add Host

      </div>


      <button status="warning" (click)="addNewIp()" nbButton outline size="small">
        Add New

        <nb-icon icon="plus-circle">
        </nb-icon>

      </button>





    </div>
  </nb-card-header>

  <nb-card-body>



    <div class="item"   @init *ngFor="let ip_address_import of ip_addresses.controls; index as index ">


      <nb-form-field [nbSpinner]="saving">
        <div nbPrefix icon="at-outline" pack="eva">
          #{{index+1}}
        </div>
        <input fullWidth [formControl]="ip_addresses.controls[index]" nbInput fieldSize="medium"
          [status]="ip_addresses.controls[index].valid ? 'basic' : 'danger' " placeholder="IP Address">


        <button [ngStyle]="{ 'visibility': index == 0 ? 'hidden' : 'visible'  }" nbSuffix (click)="removeAt(index)"
          nbButton size="small" ghost status="basic">
          <nb-icon icon="trash-outline">
          </nb-icon>
        </button>


      </nb-form-field>



      <ng-container>
        <div [ngStyle]="{ 'visibility': ip_addresses.controls[index].valid ? 'hidden' : 'visible'  }"
          class="error-message">
          <span class="caption">
            *Invalid IP Address
          </span>
        </div>

      </ng-container>

    </div>





  </nb-card-body>

  <nb-card-footer fxLayoutAlign="end center">



    <button [disabled]="!ip_addresses.valid" (click)="saveIp()" outline nbButton
      [status]="ip_addresses.valid ? 'success': 'basic'">

      <nb-icon icon="checkmark-circle-2">
      </nb-icon>
      Save


    </button>
  </nb-card-footer>

</nb-card>
