.marL {
  margin-left: 10px;
}

.item{
  // padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

list-item{
  // overflow: hidden;
}
.error-message{
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}