 <nb-card size="giant">


   <nb-card-header>

     <div fxFlex fxLayoutGap="1rem" fxLayoutAlign="center center">

       <nb-icon class="text-hint" icon="plus-circle">
       </nb-icon>
       <div fxFlex class="h6 text-hint">
         Add Domain

       </div>
       <!-- <div fxFlex fxLayoutAlign="end center">
    
          <nb-toggle [checked]="true" labelPosition="left" status="primary">IPv4</nb-toggle>
        </div> -->



       <button status="warning" (click)="addNew()" nbButton outline size="small">
         Add New

         <nb-icon icon="plus-circle">
         </nb-icon>

       </button>





     </div>
   </nb-card-header>


   <nb-card-body fxFlex="0 0">




     <div fxLayoutGap="1rem" fxLayout="column" class="list-item" @slideInOut
       *ngFor="let ip_address_import of ip_addresses.controls; index as index ">


       <nb-form-field fxFlex [nbSpinner]="saving">
         <div nbPrefix icon="at-outline" pack="eva">
           #{{index+1}}
         </div>
         <input [formControl]="ip_addresses.controls[index]" nbInput fieldSize="medium"
           [status]="ip_addresses.controls[index].valid ? 'basic' : 'danger' " placeholder="Domain name">


         <button [ngStyle]="{ 'visibility': index == 0 ? 'hidden' : 'visible'  }" nbSuffix (click)="removeAt(index)"
           nbButton size="small" ghost status="basic">
           <nb-icon icon="trash-outline">
           </nb-icon>
         </button>


       </nb-form-field>






       <ng-container>
         <div [ngStyle]="{ 'visibility': ip_addresses.controls[index].valid ? 'hidden' : 'visible'  }"
           class="error-message" fxLayoutGap="1rem" fxLayoutAlign="start center">
           <span class="caption">
             *Invalid Domain name

           </span>
         </div>

       </ng-container>

     </div>

   </nb-card-body>

   <nb-card-footer fxLayoutAlign="end center">



     <button [disabled]="!ip_addresses.valid" (click)="saveIp()" outline nbButton
       [status]="ip_addresses.valid ? 'success': 'basic'">

       <nb-icon icon="checkmark-circle-2">
       </nb-icon>
       Save


     </button>
   </nb-card-footer>

 </nb-card>
