<nb-layout>


  <nb-layout-header
  fixed
  >

    <div class="header" fxFlex fxLayoutAlign="space-between">


      <div fxLayout="row">

        <button shape="round" [routerLink]="['/tools' ]" ghost status="basic" class="action" size="large" nbButton>
          <nb-icon icon="arrow-back-outline">

          </nb-icon>
        </button>

        <nb-route-tabset [activeLinkOptions]="{exact:
        false}" [tabs]="tabs"></nb-route-tabset>

      </div>


    </div>



  </nb-layout-header>



  <nb-layout-column
  fxLayoutGap="1rem"
  >

    <div id="side" fxFlex.gt-xs="1 1 400px" fxFlex @openClose [fxShow]="true" [fxShow.lt-md]="slideState | async">

      <!-- <nb-card fxFill>
        <nb-card-header fxLayoutAlign="start center">
          <button (click)="goToToolsSelection()" ghost status="primary" shape="round" class="title" nbButton
            size="medium">
            nmap
          </button>
          <nb-icon icon="chevron-right-outline"></nb-icon>
          <button ghost shape="round" class="title" nbButton size="medium">
            {{SelectedJobId | async}}
          </button>

        </nb-card-header>

        <nb-card-body> -->
      <router-outlet name="tool_list">
      </router-outlet>
      <!-- </nb-card-body>
      </nb-card> -->




    </div>

    <div id="main" [fxHide.lt-sm]="slideState | async" @openClose fxFlex>

      <router-outlet name="view">

      </router-outlet>
    </div>







  </nb-layout-column>



</nb-layout>
