<div class="container">

  <div class="log-container">



    <!-- <div class="code"> -->

    <code *ngFor="let content of topic?.content">
      <pre [innerText]="content"></pre>
    </code>

    <!-- </div> -->
  </div>

  <!--  -->

  <!-- <ng-scrollbar #ngScrollbar [style.pointerEvents]=" tailing ? 'none' : 'all' " track="all" [scrollAuditTime]="20">

    <div class="log-container">
      <code *ngFor="let content of topic?.content">
        <pre [innerText]="content">   </pre>
      </code>

    </div>

  </ng-scrollbar> -->


  <!--  -->
  <div *ngIf=" topic?.content == undefined ||  topic?.content?.length < 1" class="progressBar">

    <div fxLayoutAlign="center center">
      <ngx-progress-spinner></ngx-progress-spinner>
    </div>
  </div>






  <div class="overlay-button">

    <ng-template #actionBtns let-status="pauseStatus">

      <div class="row" fxFlex fxLayoutAlign="end center">


        <nb-button-group style="margin-right: 1rem;" size="small" shape="round" multiple>

          <button hero status="danger" (click)="toggleStreamingLogs($event)" nbButtonToggle size="small">
            <nb-icon icon="pause-circle">
            </nb-icon>

            {{  ( status == LOG_STREAM_STATUS$.PAUSE   )  ? 'Resume' : 'Pause'  }}

          </button>



          <button [(pressed)]="tailing" (pressedChange)="toggleTail($event)" nbButtonToggle size="small">
            <nb-icon icon="arrowhead-down-outline"></nb-icon>
            Follow
          </button>
        </nb-button-group>
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="actionBtns; context:{pauseStatus: topic?.pauseStreamer$ | async }">
    </ng-container>
  </div>

</div>
