@import '../../../themes';





.subtitle {
  //   padding: 1rem;
  //   margin: 0px;
  color: #a4b1cd !important;
  font-weight: 600;
  line-height: 1rem;
  font-size: 1rem;
  // font-family: neue-haas-unica,sans-serif;
}



.buildBtn {
  border-radius: 0;


}



.log-container {
  // color: nb-theme(text-alternate-color);
  // height: 100%;
  // position: absolute;

  // margin: 1rem;

  // margin: 1px;
  // border-radius: 3px;

  .ng-trigger-accordionItemBody {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  pre {
    margin: 0;
    word-wrap: break-word;
    white-space: initial;
    hyphens: auto;
    padding: 1rem;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #9e9e9e;
    color: nb-theme(text-hint-color);

  }

}

:host{
  
}

.container {
  // background: nb-theme(background-alternative-color-1);
  position: relative;
  // height: 100%;

  // overflow:auto ;
}

.overlay-button {
  position: sticky;
  // bottom: 1rem;
  // right: 1rem;
  bottom: 1rem;
  right: 1rem;
  // margin-bottom: 1rem;
  // margin-right: 1rem;
  // top: 100%;
  // vertical-align: top;
  // bottom: -1rem;
  // right: 1rem;
  // -webkit-backface-visibility: hidden;
  // background: nb-theme(background-alternative-color-2);


}

.container {
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

:host ::ng-deep {

  .ng-scroll-content {
    display: block;

  }

}


.head {

  // position: fixed;
  // top: 0;
  // height: 4rem;

  background: nb-theme(background-alternative-color-2);
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.16), 2px 2px 3px rgba(255, 255, 255, 0.23);

  color: #fff;


}

.content {

  // height: calc(100% - 4rem);
  // overflow: auto;

}

.action {
  margin-left: 5px;

  &:hover {
    nb-icon {
      color: nb-theme(color-alternate-500);

    }

  }

}


.code {
  padding: 1rem;
}


.overflowFix {
  overflow: auto;
}


nb-route-tabset {
  overflow: scroll !important;

  vertical-align: bottom;

  padding-bottom: nb-theme(layout-scrollbar-width);
}


.progressBar {

  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
