 <nb-card size="giant">



   <nb-card-header>

     <div fxFlex fxLayoutGap="1rem" fxLayoutAlign="center center">

       <nb-icon class="text-hint" icon="plus-circle">
       </nb-icon>
       <div fxFlex class="h6 text-hint">
         List of Websites

       </div>
     </div>

   </nb-card-header>

   <nb-card-header class="nogap">


    <app-web-search></app-web-search>

   </nb-card-header>
   <nb-card-header class="nogap">

     <div fxLayout="column">

       <div fxLayout="row" fxFlex class="list-head">




         <div appHoverColor appBorder fxFlex fxLayoutAlign="start center" class="list-item-head">
           <span class="marL" style=" padding-left:'2rem'">
             URL

           </span>
         </div>


         <div appHoverColor appBorder fxFlex="150px" fxLayoutAlign="center center" class="list-item-head">
           Group
         </div>


         <div appHoverColor appBorder fxFlex="180px" fxLayoutAlign="center center" class="list-item-head">
           Last Checked
         </div>


       </div>

     </div>
   </nb-card-header>

   <nb-card-body class="nogap">
     <app-web-list>
     </app-web-list>
   </nb-card-body>

 </nb-card>
