 
  <nb-accordion >
    <nb-accordion-item
    [expanded]="index == topics.length - 1"
    *ngFor="let topic of topics ; index as index" (collapsedChange)="collapsedChange(index, $event)">
      <nb-accordion-item-header [nbSpinner]="topic?.loading | async">
        {{topic?.title}} 
      </nb-accordion-item-header>


      <!-- <ng-container *ngIf="topic?.content$ | async as content "> -->

      <nb-accordion-item-body *ngIf="topic?.content$ | async as content ">
        <code fxFlex>
          <pre [innerHTML]="content">   </pre>
        </code>
      </nb-accordion-item-body>

      <!-- </ng-container> -->

    </nb-accordion-item>

  </nb-accordion>

