


<nb-accordion multi >
  <nb-accordion-item>
    <nb-accordion-item-header>
      Product Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <code fxFlex>
        <pre [innerHTML]="testLogs">   </pre>


      </code>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Reviews
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <code fxFlex>
        <pre [innerHTML]="testLogs">   </pre>


      </code>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Edit
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <code fxFlex>
        <pre [innerHTML]="testLogs">   </pre>


      </code>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
