@import '../../../themes';

.log-container {
  overflow: scroll;
  background: nb-theme(background-alternative-color-1);
  color: nb-theme(text-alternate-color);

  // margin: 1px;
  // border-radius: 3px;

  .ng-trigger-accordionItemBody {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  pre {
    margin: 0;
  }

}

.overlay-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  // background: nb-theme(background-alternative-color-2);


}

:host ::ng-deep nb-accordion {
  // background: nb-theme(background-alternative-color-1);

  nb-accordion-item {
    // margin-bottom: 0.4rem;

    nb-accordion-item-header {

      // margin-left: 1px;
      // margin-right: 1px;
      // margin-bottom: 1px;
      // margin: 1px;

      // border-bottom-left-radius: 2px;
      // border-bottom-right-radius: 2px;

      &:hover {
        background: nb-theme(background-alternative-color-1);
        color: nb-theme(text-alternate-color);


      }

      &.accordion-item-header-expanded {
        background: nb-theme(background-alternative-color-2);
        color: nb-theme(text-alternate-color);



      }
    }


    nb-accordion-item-body.marginBody {
      overflow: scroll;
      background: nb-theme(background-alternative-color-1);
      color: nb-theme(text-alternate-color);

      // margin: 1px;
      // border-radius: 3px;

      .ng-trigger-accordionItemBody {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      pre {
        margin: 0;
      }

    }

  }
}
