<ng-template #deployTemplate let-context="context">

  <app-worker-deployment-config [context]="context">

  </app-worker-deployment-config>



</ng-template>

<div fxLayout="column">
  <ng-container *ngFor="let deploy of deployments | async  ; index as index">

    
    <!-- *ngIf="deploy.details | async as details" -->
    <nb-card 
    >
      <nb-card-header>
        <!-- Name -->
        <div class="row">
          <div fxFlex class="text-hint">

            &#64;{{ deploy?.Name  }}

          </div>
          <div fxFlex class="subtitle-2">
            {{deploy?.Status}}


            <!-- @{{ deploy?.BuildDetails | json  }} -->


          </div>
        </div>

      </nb-card-header>

      <nb-card-body>


        <!-- Namespace -->
        <div class="row">
          <div fxFlex class="subtitle">
            Namespace

          </div>
          <div fxFlex class="subtitle-2">
            {{ deploy?.Namespace  }}

          </div>
        </div>



        <!-- Status -->
        <div class="row">
          <div fxFlex class="subtitle">
            Status

          </div>
          <div fxFlex class="subtitle-2">
            {{ deploy?.Status  }}

          </div>
        </div>

        <!--  -->
        <div class="row">
          <div fxFlex class="subtitle">
            Workers

          </div>
          <div fxFlex class="subtitle-2">
            Running
            {{ deploy?.JobSummary?.Summary[ deploy?.Name ]?.Running  }}
             | 
            Starting
            {{ deploy?.JobSummary?.Summary[ deploy?.Name ]?.Starting  }}

          </div>
        </div>

        <div class="row">
          <div fxFlex class="subtitle">
            Scake

          </div>
          <div fxFlex class="subtitle-2">
            
            {{ deploy?.JobSummary?.Summary[ deploy?.Name ]?.Running +  deploy?.JobSummary?.Summary[ deploy?.Name ]?.Queued }}
             

          </div>
        </div>


        <!-- Submitted On -->
        <div class="row">
          <div fxFlex class="subtitle">
            SubmitTime

          </div>
          <div fxFlex class="subtitle-2">
            {{ deploy?.SubmitTime / 1000000  | date:"dd-MM-YY , HH:mm:ss" }}

          </div>
        </div>





      </nb-card-body>


      <nb-card-footer fxLayoutGap="1rem" fxLayoutAlign="start">


        
        
        <button 
        (click)="openDrawer(deployTemplate  , context  =  {   'id' : deploy?.ID	,   'build_id':  build?._id , 'edit_mode': true } )"
         status="basic" ghost size="small" nbButton>

          <nb-icon icon="settings-2-outline"></nb-icon>
          Config
        </button>


        <button (click)="purge(  )" status="primary" ghost size="small" nbButton>

          <nb-icon icon="settings-2-outline"></nb-icon>
          Purge
        </button>


        <!-- <button (click)="execJob( deploy?.id )" status="primary" ghost size="small" nbButton>

          <nb-icon icon="settings-2-outline"></nb-icon>
          Exec
        </button> -->

        <button (click)="openDrawer(jobConfigTemplate , context =  { config: deploy?.JobConfig , id : deploy?.id }  ) "
          status="success" ghost size="small" nbButton>

          <nb-icon icon="settings-2-outline"></nb-icon>
          Run
        </button>


        <button (click)="stopJob( deploy?.id )" status="basic" ghost size="small" nbButton>

          <nb-icon icon="settings-2-outline"></nb-icon>
          Stop
        </button>

        <button (click)="openDrawer(logsTemplate)" status="danger" ghost size="small" nbButton>

          <nb-icon icon="settings-2-outline"></nb-icon>
          Logs
        </button>


        <button status="basic" ghost size="small" nbButton>

          <nb-icon icon="diagonal-arrow-left-down-outline"></nb-icon>

          {{deploy?.Status}}
        </button>



      </nb-card-footer>
    </nb-card>
  </ng-container>

</div>


<ng-template #logsTemplate let-close="close" let-context="context">

  <app-log-stream [close]="close" [deep_link]="true" [log_id]="context?.id"></app-log-stream>

</ng-template>


<ng-template let-close="close" let-context="context" #jobConfigTemplate>


  <app-job-config 
  [build_id]="context?.id?.split(':')[1]"
  
  [config]="context?.config" [id]="context?.id"></app-job-config>

</ng-template>



