<!-- File:  Dockerfile -->
<ng-template #dockerfile [formGroup]="config_form">

  <ng-container formGroupName="dockerfile">

    <div formGroupName="data" fxLayout="column">

      <div>
        <p class="subtitle-2 text-hint">
          Dockerfile
        </p>
      </div>

      <div fxLayout="row" fxLayoutGap="1rem">

        <nb-form-field fxFlex>
          <textarea formControlName="dockerfile" fullWidth nbInput placeholder=" Dockerfile">

          </textarea>

        </nb-form-field>


      </div>



    </div>

    <app-divider></app-divider>


  </ng-container>

</ng-template>

<!-- Image:  Docker Hub -->
<ng-template #registry_public [formGroup]="config_form">

  <ng-container formGroupName="registry_public">

    <div formGroupName="data" fxLayout="column">

      <div>
        <p class="subtitle-2 text-hint">
          Docker Image
        </p>
      </div>

      <div fxLayout="row" fxLayoutGap="1rem">

        <nb-form-field>
          <input formControlName="image_name" fullWidth nbInput placeholder="Image Name">

        </nb-form-field>

        <nb-form-field>
          <input formControlName="image_tag" fullWidth nbInput placeholder="Tag Name">
        </nb-form-field>
      </div>



    </div>

    <app-divider></app-divider>

    <div fxLayout="column">

      <div>
        <p class="subtitle-2 text-hint">
          Credentials
        </p>
      </div>
      <div>

        <nb-select size="medium" status="primary" formControlName="authentication" filled placeholder="Authentication">

          <nb-option value="none">
            No Auth
          </nb-option>
          <nb-option value="credentials">
            Credentials
          </nb-option>


        </nb-select>
      </div>

    </div>

    <app-divider></app-divider>

    <ng-container formGroupName="auth_mode">

      <ng-container formGroupName="credentials"
        *ngIf="config_form.value.registry_public.authentication == 'credentials' ">

        <!-- <div class="subtitle text-hint container label-text">
          Username
        </div> -->

        <div fxLayout="row" class="container">
          <nb-form-field>
            <nb-icon icon="at-outline" nbPrefix></nb-icon>
            <input formControlName="username" fullWidth nbInput placeholder="Username">
          </nb-form-field>
        </div>

        <div fxLayout="row" class="container">

          <nb-form-field>
            <nb-icon icon="hash-outline" nbPrefix></nb-icon>

            <input formControlName="password" fullWidth nbInput placeholder="Password">
          </nb-form-field>
        </div>

      </ng-container>

      <ng-container formGroupName="token" *ngIf="config_form.value.registry_public.authentication == 'token' ">

        <div fxLayout="row" class="container">
          <nb-form-field fxFlex>
            <textarea formControlName="auth_token" fullWidth nbInput placeholder="Auth token"></textarea>
          </nb-form-field>

        </div>

      </ng-container>

    </ng-container>

  </ng-container>

</ng-template>


<!-- Image: Private Repository -->
<ng-template #registry_private [formGroup]="config_form">

  <ng-container formGroupName="registry_private">

    <div formGroupName="data" fxLayout="column">



      <div>
        <p class="subtitle-2 text-hint">
          Private Docker Registry
        </p>
      </div>

      <div fxLayout="row" fxLayoutGap="1rem">

        <nb-form-field>
          <input formControlName="registry_url" fullWidth nbInput placeholder="Registry Url">

        </nb-form-field>


      </div>
      <div fxLayout="row" fxLayoutGap="1rem">

        <nb-form-field>
          <input formControlName="image_name" fullWidth nbInput placeholder="Image Name">

        </nb-form-field>

        <nb-form-field>
          <input formControlName="image_tag" fullWidth nbInput placeholder="Tag Name">
        </nb-form-field>
      </div>



    </div>

    <app-divider></app-divider>

    <div fxLayout="column">

      <div>
        <p class="subtitle-2 text-hint">
          Credentials
        </p>
      </div>
      <div>

        <nb-select size="medium" status="primary" formControlName="authentication" filled placeholder="Authentication">

          <nb-option value="none">
            No Auth
          </nb-option>
          <nb-option value="credentials">
            Credentials
          </nb-option>


        </nb-select>
      </div>

    </div>

    <app-divider></app-divider>

    <ng-container formGroupName="auth_mode">

      <ng-container formGroupName="credentials"
        *ngIf="config_form.value.registry_private.authentication == 'credentials' ">

        <!-- <div class="subtitle text-hint container label-text">
          Username
        </div> -->

        <div fxLayout="row" class="container">
          <nb-form-field>
            <nb-icon icon="at-outline" nbPrefix></nb-icon>
            <input formControlName="username" fullWidth nbInput placeholder="Username">
          </nb-form-field>
        </div>

        <div fxLayout="row" class="container">

          <nb-form-field>
            <nb-icon icon="hash-outline" nbPrefix></nb-icon>

            <input formControlName="password" fullWidth nbInput placeholder="Password">
          </nb-form-field>
        </div>

      </ng-container>

      <ng-container formGroupName="token" *ngIf="config_form.value.registry_private.authentication == 'token' ">

        <div fxLayout="row" class="container">
          <nb-form-field fxFlex>
            <textarea formControlName="auth_token" fullWidth nbInput placeholder="Auth token"></textarea>
          </nb-form-field>

        </div>

      </ng-container>

    </ng-container>

  </ng-container>

</ng-template>


<!-- Bundle: Git Repository -->
<ng-template #bundle_git [formGroup]="config_form">


  <ng-container formGroupName="bundle_git">

    <div fxFlex fxLayoutGap="1rem" fxLayout="column">


      <ng-container formGroupName="data">

        <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="1rem">


          <div fxFlex>
            <p class="subtitle-2 text-hint">
              Repository
            </p>
          </div>

          <nb-select size="small" status="primary" formControlName="repository" outline placeholder="Repository">

            <nb-option *ngFor="let repo of gitRepositories" [value]="repo.id">
              {{repo?.name}}
            </nb-option>


          </nb-select>
        </div>

        <div fxLayout="row">

          <nb-form-field fxFlex>
            <span nbPrefix>
              Url
            </span>

            <input formControlName="repository_url" fullWidth nbInput placeholder="Repository URL">

          </nb-form-field>


        </div>


        <div fxLayout="row">

          <nb-form-field fxFlex>
            <span nbPrefix>
              file://
            </span>

            <input fieldSize="small" formControlName="repository_context" fullWidth nbInput
              placeholder="Repository Context">

          </nb-form-field>


        </div>

      </ng-container>

      <div fxLayoutAlign="end center" fxLayout="row">

        <nb-select size="tiny" status="danger" filled formControlName="authentication" placeholder="Authentication">

          <nb-option value="none">
            No Auth
          </nb-option>
          <nb-option value="credentials">
            Credentials
          </nb-option>
          <nb-option value="token">
            Auth Token
          </nb-option>
          <nb-option value="ssh">
            SSH Key
          </nb-option>
        </nb-select>
      </div>

      <div fxLayout="row" fxLayoutGap="1rem">

        <ng-container formGroupName="auth_mode">

          <ng-container formGroupName="credentials"
            *ngIf="config_form.value.bundle_git.authentication == 'credentials' ">

            <!-- <div class="subtitle text-hint container label-text">
          Username
        </div> -->



            <div fxFlex>

              <nb-form-field>
                <nb-icon icon="at-outline" nbPrefix></nb-icon>
                <input fieldSize="small" formControlName="username" nbInput placeholder="Username">
              </nb-form-field>
            </div>

            <div fxFlex>

              <nb-form-field>
                <nb-icon icon="hash-outline" nbPrefix></nb-icon>

                <input fieldSize="small" formControlName="password" nbInput placeholder="Password">
              </nb-form-field>

            </div>


          </ng-container>

          <ng-container formGroupName="token" *ngIf="config_form.value.bundle_git.authentication == 'token' ">

            <div fxFlex>
              <nb-form-field fxFlex>
                <textarea fieldSize="small" formControlName="auth_token" fullWidth nbInput
                  placeholder="Auth token"></textarea>
              </nb-form-field>

            </div>

          </ng-container>

          <ng-container formGroupName="ssh" *ngIf="config_form.value.bundle_git.authentication == 'ssh' ">

            <div fxFlex>
              <nb-form-field fxFlex>
                <textarea fieldSize="small" formControlName="ssh_key" fullWidth nbInput
                  placeholder="SSH Key"></textarea>
              </nb-form-field>

            </div>

          </ng-container>

        </ng-container>
      </div>

    </div>




  </ng-container>


</ng-template>


<!-- Bundle: Url  -->
<ng-template #bundle_url [formGroup]="config_form">
  <ng-container formGroupName="bundle_url">




    <div fxFlex formGroupName="data" fxLayout="column" fxLayoutGap="1rem">


      <div fxLayout="row">


        <nb-select size="small" status="primary" formControlName="type" filled placeholder="Repository">

          <nb-option *ngFor="let bundle of bundleType" [value]="bundle.id">
            {{bundle?.name}}
          </nb-option>


        </nb-select>

      </div>

      <div fxLayout="row">


        <nb-form-field fxFlex>

          <span nbPrefix>Url</span>

          <input fieldSize="small" formControlName="url" fullWidth nbInput
            placeholder="git://github.com/meddler-io/first-tool.git">

        </nb-form-field>


      </div>


    </div>




  </ng-container>


</ng-template>

<!-- Bundle: Upload  -->
<ng-template #bundle_upload [formGroup]="config_form">

  <ng-container formGroupName="bundle_upload">


    <ng-container formGroupName="data">


      <div fxLayout="column" fxLayoutGap="1rem">

        <div fxLayout="row">

          <nb-select size="small" status="primary" formControlName="type" filled placeholder="Repository">

            <nb-option *ngFor="let bundle of bundleType" [value]="bundle.id">
              {{bundle?.name}}
            </nb-option>


          </nb-select>


        </div>




        <div fxLayout="row" fxLayoutGap="1rem">
          <input type="file" #file style="display: none"
            (change)="upload( $event.target.files[0] ,  config_form.get(  'bundle_upload').get('data') )">


          <button *ngIf=" config_form.get('bundle_upload').get('data').invalid " (click)="file.click()" nbButton
            size="small">
            Upload

          </button>

          <button status="primary" [disabled]=" config_form.get('bundle_upload').get('data').invalid "
            (click)="download( config_form.get('bundle_upload').get('data').value )" nbButton size="small">
            Download

          </button>


          <button (click)=" config_form.get('bundle_upload').get('data').get('url').setValue('') " nbButton
            size="small">
            Reset

          </button>

        </div>

        <div fxLayout="row">

          <ng-container *ngIf="bundke_upload_progress | async as bundke_upload_progress">

            <div fxFlex fxLayout="row">

              <nb-progress-bar *ngIf="bundke_upload_progress?.uploading" size="tiny" fxFlex
                [value]="bundke_upload_progress?.progress" status="success" [displayValue]="true">
              </nb-progress-bar>
            </div>
          </ng-container>
        </div>

      </div>


    </ng-container>


  </ng-container>


</ng-template>



<ng-container [formGroup]="form">



  <nb-card fxFill>

    <nb-card-header fxLayoutAlign="space-between center">

      <div fxLayoutAlign="start center" fxLayout="row">

        <button (click)="close.next(true)" shape="round" ghost status="basic" class="action" size="large" nbButton>
          <nb-icon icon="arrow-back-outline">

          </nb-icon>
        </button>

        <span class="subtitle text-hint lineV">
          Build Creator2
        </span>

      </div>

      <button (click)="close.next(true)" shape="round" ghost status="basic" class="action" size="large" nbButton>
        <nb-icon icon="info">

        </nb-icon>
      </button>


    </nb-card-header>


    <nb-card-body>


      <div fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="1rem">
        <p class="subtitle text-basic">
          Build Info
        </p>

        <button shape="round" ghost nbButton>
          <nb-icon icon="info"></nb-icon>
        </button>
      </div>
      <app-divider></app-divider>


      <div fxLayoutGap="1rem" fxLayout="column">

        <div>
          <p class="subtitle-2 text-hint">
            Name
          </p>
        </div>

        <div formGroupName="tool" fxLayout="row" fxLayoutGap="1rem">

          <nb-form-field>

            <input cdkFocusInitial formControlName="name" nbInput placeholder="Tool Name">

          </nb-form-field>
          <nb-form-field fieldSize="small">
            <input formControlName="alias" nbInput placeholder="Tool tag">
          </nb-form-field>
        </div>
      </div>

      <app-divider></app-divider>

      <div fxLayout="column">

        <div>
          <p class="subtitle-2 text-hint">
            Description
          </p>
        </div>

        <div fxLayout="row">

          <nb-form-field fxFlex>
            <textarea formControlName="desc" fullWidth nbInput placeholder="Description"></textarea>
          </nb-form-field>

        </div>


        <app-divider></app-divider>

        <div>
          <p class="subtitle-2 text-hint">
            Tags
          </p>
        </div>
        <div fxLayout="row">

          <nb-tag-list fxFlex (tagRemove)="onTagRemove($event)">
            <nb-tag size="small" *ngFor="let tag of meta_tags" [text]="tag" removable></nb-tag>
            <input type="text" nbTagInput (tagAdd)="onTagAdd($event)" fullWidth>

          </nb-tag-list>

        </div>

        <app-divider></app-divider>

      </div>

      <app-divider></app-divider>




      <div fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="1rem">
        <p fxFlex class="subtitle text-basic">
          Tools Source
        </p>


        <nb-select size="small" #buildTypeSelect hero [status]="  form?.value?.build_type ? 'primary' : 'danger' "
          formControlName="build_type" placeholder="Select Build Type">
          <nb-option-group *ngFor="let group of buildTypes" [title]="group.name">
            <nb-option [disabled]="!option?.active" *ngFor="let option of group.children " [value]="option.id">
              {{option?.name}}
            </nb-option>
          </nb-option-group>
        </nb-select>



      </div>

      <app-divider></app-divider>





      <!-- <div class="subtitle text-hint container label-text">
        Information
      </div> -->


      <div fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="1rem">

        <ng-container [ngSwitch]="form.value.build_type">

          <ng-container *ngSwitchCase="'dockerfile'">
            <ng-template *ngTemplateOutlet="dockerfile"> </ng-template>
          </ng-container>

          <ng-container *ngSwitchCase="'registry_public'">
            <ng-template *ngTemplateOutlet="registry_public"> </ng-template>
          </ng-container>

          <ng-container *ngSwitchCase="'registry_private'">
            <ng-template *ngTemplateOutlet="registry_private"> </ng-template>
          </ng-container>


          <ng-container *ngSwitchCase="'bundle_git'">
            <ng-template *ngTemplateOutlet="bundle_git"> </ng-template>
          </ng-container>


          <ng-container *ngSwitchCase="'bundle_url'">
            <ng-template *ngTemplateOutlet="bundle_url"> </ng-template>
          </ng-container>


          <ng-container *ngSwitchCase="'bundle_upload'">
            <ng-template *ngTemplateOutlet="bundle_upload"> </ng-template>
          </ng-container>




        </ng-container>


      </div>

    </nb-card-body>





    <nb-card-footer (click)="saveChanges()">

      <button
      (click)="logValidationErrors( config_form?.get( form.get('build_type') ) )"
      nbButton>
        Test
      </button>
      <button [disabled]="

      config_form?.get( form.get('build_type').value )?.get('data')?.invalid 
      ||
      config_form?.get( form.get('build_type').value )?.get('auth_mode')?.get(  config_form?.get( form.get('build_type').value )?.get('authentication')?.value ).invalid

      
      " class="buildBtn" fxLayoutAlign="space-between center" size="giant" status="success" filled fullWidth nbButton>

        <span>


          {{form?.errors | json}}

          Build
        </span>
        <nb-icon icon="play-circle"></nb-icon>

      </button>
    </nb-card-footer>

  </nb-card>

</ng-container>