<nb-card size="giant">


  <nb-card-header>

    <div fxFlex fxLayoutGap="1rem" fxLayoutAlign="center center">

      <nb-icon class="text-hint" icon="plus-circle">
      </nb-icon>
      <div fxFlex class="h6 text-hint">
        List of Apps

      </div>
    </div>

  </nb-card-header>

  <nb-card-header>
    <app-ios-add></app-ios-add>


  </nb-card-header>

 

  <nb-card-body fxLayoutGap="1rem" class="nogap">

    <app-ios-list>

    </app-ios-list>

  </nb-card-body>

</nb-card>

<!-- </nb-card-body>
 </nb-card> -->
