<ng-template #configMapTemplate let-context="context">

  <app-file-list [id]="context?.id"></app-file-list>
</ng-template>


<ng-template #manageDependencyInputTool let-context="context">

  <app-tools-list-for-input [id]="context?.id">
  </app-tools-list-for-input>

</ng-template>

<ng-container *ngIf=" LOADING == false ; else loading">



  <ng-container [formGroup]="response_form">


    <nb-card fxFill>


      <nb-card-header fxLayoutAlign="space-between center">

        <div fxLayoutAlign="start center" fxLayout="row">

          <button (click)="close.next(true)" shape="round" ghost status="basic" class="action" size="large" nbButton>
            <nb-icon icon="arrow-back-outline">

            </nb-icon>
          </button>

          <span class="subtitle text-hint lineV">
            Job Executor
          </span>

        </div>

        <button (click)="close.next(true)" shape="round" ghost status="basic" class="action" size="large" nbButton>
          <nb-icon icon="info">

          </nb-icon>
        </button>


      </nb-card-header>

      <nb-card-body>


        <!--  -->



        <!-- ublish details -->




        <div fxLayout="column">

          <div>

            <nb-toggle formControlName="initiator">
              Initiator </nb-toggle>
          </div>
          <div>

            <nb-toggle formControlName="publisher">
              Publisher </nb-toggle>


          </div>


          <div>
            <p class="subtitle-2 text-hint">
              Title
            </p>
          </div>


          <nb-form-field fxFlex fieldSize="small">
            <input fullWidth formControlName="title" nbInput placeholder="Scanner name">
          </nb-form-field>

        </div>

        <div fxLayout="column">

          <div>
            <p class="subtitle-2 text-hint">
              Description
            </p>
          </div>


          <nb-form-field fxFlex fieldSize="small">
            <input fullWidth formControlName="description" nbInput placeholder="Scanner name">
          </nb-form-field>

        </div>


        <!-- Identifier -->
        <div fxLayout="column">

          <div>
            <p class="subtitle-2 text-hint">
              Identifier
            </p>
          </div>


          <nb-form-field fxFlex fieldSize="small">
            <input fullWidth formControlName="identifier" nbInput placeholder="Scanner name">
          </nb-form-field>

        </div>
        <app-divider></app-divider>



        <!--  -->

        <!-- .config binding -->

        <ng-container formGroupName="config">







          <app-divider></app-divider>

          <!-- Scanner Input -->
          <div *ngIf="response_form.get('initiator')?.value" fxLayout="column">


            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Scanner Input
              </p>



            </div>

            <div fxLayout="column" fxLayoutGap="1rem">

              <!-- {{response_form.get('config').get('scanner_input')?.value | json}}
              {{scannerInput | json}} -->


              <ng-container *ngFor="let scannerInput$ of scannerInput">

                <ng-container
                  *ngIf=" edit ||  response_form.get('config').get('scanner_input')?.value?.includes( scannerInput$?.id )">



                  <div fxLayout="row" fxLayoutGap="1rem">

                    <nb-form-field fxFlex fieldSize="small">




                      <button (click)="copyText(  scannerInput$?.variable )" nbButton nbPrefix size="small" control
                        status="basic">
                        <nb-icon icon="copy-outline">
                        </nb-icon>
                      </button>


                      <input
                        [value]="response_form.get('config').get('scanner_input')?.value?.includes( scannerInput$?.id ) ? scannerInput$?.placeholder : '' "
                        [readonly]="true" fullWidth nbInput [placeholder]="scannerInput$?.placeholder">


                      <div nbSuffix *ngIf="edit">
                        <nb-toggle
                          [checked]="response_form.get('config').get('scanner_input')?.value?.includes( scannerInput$?.id )"
                          (checkedChange)="checkedChangeScannerInput(  $event ,  scannerInput$ )" #toggle></nb-toggle>

                      </div>
                    </nb-form-field>
                  </div>

                  <!-- It's value -->
                  <div *ngIf="!edit" fxLayout="row" fxLayoutGap="1rem">



                    <button nbButton nbPrefix size="small" control status="basic">
                      <nb-icon icon="text-outline"></nb-icon>


                    </button>

                    <nb-form-field fxFlex fieldSize="small">



                      <!-- [value]="scannerInput$?.default_value" -->
                      <input
                        [formControl]="response_form.get('scanner_value')?.at(  response_form.get('scanner_input')?.value?.indexOf( scannerInput$?.id ) ) "
                        fullWidth nbInput [placeholder]="scannerInput$?.placeholder">




                    </nb-form-field>
                  </div>


                  <div fxLayoutAlign="end" *ngFor="let attribute of scannerInput$?.attributes">
                    <!-- property {{attribute | json}} -->
 

                    <ng-container *ngIf="attribute?.type == 'boolean' ">

                      <div>

                        <!-- [checked] -->
                        <nb-toggle
                        #qweewe

                        [(ngModel)]="formDataForPropertiesAttributes[scannerInput$?.id][attribute.id]" 
                          [ngModelOptions]="{ standalone: true }"
                        >
                          {{attribute?.title}}
                        </nb-toggle>

                      </div>
                    </ng-container>

                  </div>
                </ng-container>

              </ng-container>


            </div>








            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('cmd').controls.length" fxFlex>
              <p class="subtitle-2 text-hint">
                No Input Defined
              </p>
            </div>
          </div>


          <app-divider></app-divider>


          <!-- Dependency Tool -->

          <div fxLayout="column">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Dependency Tool

              </p>





              <button (click)="openLogs(manageDependencyInputTool , id  )" ghost nbButton status="danger">
                Manage
              </button>
            </div>

            <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1rem">






              <ng-container
                *ngFor="let ingested_result of this.response_form.get('config').get('ingested_results')?.value">

                <div style="padding-left: 1rem;">

                  <p fxFlex class="subtitle-2 text-hint">
                    {{ingested_result?.task_name}}

                  </p>
                </div>

                <ng-container *ngFor="let result of ingested_result?.result">





                  <div style="padding-left: 1rem;" fxLayout="column" fxLayoutGap="1rem">


                    <div fxLayoutGap="0.5rem" fxLayoutAlign="end" fxLayout="row">

                      <div nbSuffix>

                        <nb-checkbox readonly [checked]="result?.regex">Regex</nb-checkbox>
                        <!-- <nb-checkbox status="primary">Primary</nb-checkbox> -->

                      </div>

                      <div nbSuffix>
                        <nb-checkbox readonly [checked]="result?.directory">Directory</nb-checkbox>



                      </div>

                    </div>




                    <nb-form-field fxFlex fieldSize="small">

                      <button
                        (click)="copyText(  '$' + 'mount_volume_path' + '/' + ingested_result?.task_id + '/' +  result?.value )"
                        nbButton nbPrefix size="small" control status="basic">

                        <span nbPrefix>$</span>

                      </button>


                      <!-- <input readonly hidden #variable fullWidth [value]="result?.variable" nbInput placeholder="/bin/watchdog"> -->

                      <input readonly #inp fullWidth [value]="result?.value" nbInput placeholder="/bin/watchdog">




                    </nb-form-field>
                  </div>



                </ng-container>

              </ng-container>










            </div>






          </div>
          <app-divider></app-divider>


          <!-- Scanner Reult Info -->
          <div fxLayout="column">





            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Scanner Result

              </p>

              <button (click)="addScannerResult()" ghost nbButton status="danger">
                Add
              </button>

            </div>

            <div fxLayout="column" fxLayoutGap="1rem">

              <ng-container formArrayName="result">

                <ng-container
                  *ngFor="let result of this.response_form.get('config').get('result').controls ; let i=index ">



                  <div fxLayout="column" fxLayoutGap="1rem" [formGroupName]="i">


                    <div fxLayoutGap="0.5rem" fxLayoutAlign="end" fxLayout="row">

                      <div nbSuffix *ngIf="edit">

                        <nb-checkbox formControlName="regex">Regex</nb-checkbox>
                        <!-- <nb-checkbox status="primary">Primary</nb-checkbox> -->

                      </div>

                      <div nbSuffix *ngIf="edit">
                        <nb-checkbox formControlName="directory">Directory</nb-checkbox>



                      </div>

                      <div nbSuffix *ngIf="edit">

                        <nb-checkbox formControlName="export">Export</nb-checkbox>
                        <!-- <nb-checkbox status="primary">Primary</nb-checkbox> -->

                      </div>

                    </div>




                    <nb-form-field fxFlex fieldSize="small">

                      <button (click)="copyText(  variable?.value )" nbButton nbPrefix size="small" control
                        status="basic">

                        <span nbPrefix>$</span>

                      </button>


                      <input hidden #variable fullWidth formControlName="variable" nbInput placeholder="/bin/watchdog">

                      <input #inp fullWidth formControlName="value" nbInput placeholder="/bin/watchdog">




                    </nb-form-field>
                  </div>

                </ng-container>
              </ng-container>






            </div>








            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('cmd').controls.length" fxFlex>
              <p class="subtitle-2 text-hint">
                No Input Defined
              </p>
            </div>
          </div>


          <app-divider></app-divider>

          <!-- Default Configs -->
          <div fxLayout="column">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Default Configs
              </p>





              <button (click)="openLogs(configMapTemplate , image_id  )" ghost nbButton status="danger">
                Manage
              </button>
            </div>





          </div>
          <app-divider></app-divider>


          <!-- Configs -->
          <div fxLayout="column">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Configs
              </p>





              <button (click)="openLogs(configMapTemplate , id  )" ghost nbButton status="danger">
                Manage
              </button>
            </div>






          </div>
          <app-divider></app-divider>

          <!-- <div fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="1rem">
          <p class="subtitle text-basic">
            Job Configuration
          </p>
  
          <button shape="round" ghost nbButton>
            <nb-icon icon="info"></nb-icon>
          </button>
        </div>
        <app-divider></app-divider> -->


          <!-- Entrypoint -->
          <div fxLayout="column">

            <div>

              <!-- (checkedChange)="switchViewCmd( $event ) " -->
              <nb-toggle #toggleCmdView [formControl]="toggleCmdViewControl">
                Switch View </nb-toggle>


              <div fxFlex fxLayoutAlign="end">

                <button *ngIf="toggleCmdView?.checked" size="small" (click)="importCmd()" ghost nbButton status="info">
                  Import
                </button>
              </div>
            </div>
          </div>

          <ng-container *ngIf="toggleCmdView?.checked ; else formViewCmd">
            <div fxLayout="column">

              <nb-form-field fxFlex fieldSize="small">
                <input [formControl]="rawCommandView" fullWidth nbInput placeholder="/bin/watchdog">
              </nb-form-field>
            </div>

          </ng-container>

          <ng-template #formViewCmd>




            <!-- Entrypoint -->
            <div fxLayout="column">

              <div>



                <p fxFlex class="subtitle-2 text-hint">
                  Entrypoint
                </p>


                <button size="small" (click)="copyCommandToClipboard()" ghost nbButton status="info">
                  Copy
                </button>



              </div>





              <ng-container formArrayName="entrypoint">

                <ng-container
                  *ngFor="let entrypoint of this.response_form.get('config').get('entrypoint').controls ; let i=index ">


                  <div fxLayout="row" fxLayoutGap="1rem">
                    <nb-form-field fxFlex fieldSize="small">
                      <input fullWidth [formControlName]="i" nbInput placeholder="/bin/watchdog">
                    </nb-form-field>
                  </div>

                </ng-container>
              </ng-container>

            </div>

            <app-divider></app-divider>

            <!-- Command -->
            <div fxLayout="column">

              <div fxLayout="row">
                <p fxFlex class="subtitle-2 text-hint">
                  Command
                </p>

                <button (click)="addCmd()" ghost nbButton status="danger">
                  Add
                </button>

              </div>







              <ng-container formArrayName="cmd">

                <ng-container *ngFor="let _cmd of this.response_form.get('config').get('cmd').controls ; let i=index ">


                  <!-- <div [style.marginBottom]="'0.5rem'" fxLayout="row" fxLayoutGap="1rem"> -->

                  <div [style.marginBottom]="'0.5rem'" fxLayout="row" fxLayoutGap="1rem">
                    <nb-form-field fxFlex fieldSize="small">
                      <input fullWidth cdkFocusInitial [formControlName]="i" nbInput placeholder="/usr/bin/mobsf">


                    </nb-form-field>


                    <button ghost nbSuffix nbButton (click)="deleteCmd(i)">
                      <nb-icon icon="trash-outline">
                      </nb-icon>
                    </button>

                  </div>




                  <!-- </div> -->


                </ng-container>


              </ng-container>


              <div fxFlex fxLayoutAlign="center center"
                *ngIf="!this.response_form.get('config').get('cmd').controls.length" fxFlex>
                <p class="subtitle-2 text-hint">
                  No Commands Defined
                </p>
              </div>
            </div>

            <app-divider></app-divider>


            <!-- Arguments -->
            <div fxLayout="column">

              <div fxLayout="row">
                <p fxFlex class="subtitle-2 text-hint">
                  Arguments
                </p>

                <button (click)="addArg()" ghost nbButton status="danger">
                  Add
                </button>

              </div>


              <div fxFlex>

                <ng-container formArrayName="args">

                  <ng-container
                    *ngFor="let arg of this.response_form.get('config').get('args').controls ; let i=index ">


                    <div [style.marginBottom]="'0.5rem'" fxLayout="row" fxLayoutGap="1rem">
                      <nb-form-field fxFlex fieldSize="small">


                        <input fullWidth [formControlName]="i" nbInput placeholder="/usr/bin/mobsf">


                      </nb-form-field>


                      <button ghost nbSuffix nbButton (click)="deleteArg(i)">
                        <nb-icon icon="trash-outline">
                        </nb-icon>
                      </button>

                    </div>


                  </ng-container>


                </ng-container>
              </div>

              <div fxFlex fxLayoutAlign="center center"
                *ngIf="!this.response_form.get('config').get('args').controls.length" fxFlex>
                <p class="subtitle-2 text-hint">
                  No Arguments Defined
                </p>
              </div>

            </div>

            <app-divider></app-divider>
          </ng-template>


          <!-- Variables -->
          <div fxLayout="column">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Variables
              </p>



              <button (click)="addVar()" ghost nbButton status="danger">
                Add
              </button>


            </div>


            <ng-container formArrayName="variables">

              <ng-container
                *ngFor="let variable of this.response_form.get('config').get('variables').controls ; let i=index ">

                <div [style.marginBottom]="'0.5rem'" [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">


                  <nb-form-field fxFlex fieldSize="small">


                    <button (click)="copyText(  variable?.value?.value )" nbButton nbPrefix size="small" control
                      status="basic">

                      <span nbPrefix>$</span>

                    </button>

                    <input [readonly]="true" fullWidth formControlName="key" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>






                  <nb-form-field fxFlex fieldSize="small">
                    <input readonly fullWidth formControlName="value" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>


                  <button ghost nbButton (click)="deleteVariables(i)">
                    <nb-icon icon="trash-outline">
                    </nb-icon>
                  </button>




                </div>


              </ng-container>


            </ng-container>


            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('variables').controls.length" fxFlex>
              <p class="subtitle-2 text-hint">
                No Variables Defined
              </p>
            </div>

          </div>

          <app-divider></app-divider>


          <!-- Substitute Variables -->
          <div fxLayout="column">




            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Substitute Variables

              </p>




              <nb-toggle formControlName="substitute_var"></nb-toggle>



            </div>

            <!--  -->


          </div>


          <app-divider></app-divider>




          <!-- success_endpoint -->
          <div fxLayout="column">

            <div>
              <p class="subtitle-2 text-hint">
                Success Endpoint
              </p>
            </div>

            <div fxLayout="row" fxLayoutGap="1rem">
              <nb-form-field fxFlex fieldSize="small">
                <input fullWidth formControlName="success_endpoint" nbInput
                  placeholder="http://success_endpoint.com/usr/bin/mobsf">
              </nb-form-field>
            </div>
          </div>

          <app-divider></app-divider>


          <!-- failure_endpoint -->
          <div fxLayout="column">

            <div>
              <p class="subtitle-2 text-hint">
                Failure Endpoint
              </p>
            </div>

            <div fxLayout="row" fxLayoutGap="1rem">
              <nb-form-field fxFlex fieldSize="small">
                <input fullWidth formControlName="failure_endpoint" nbInput
                  placeholder="http://failure_endpoint.com/usr/bin/mobsf">
              </nb-form-field>
            </div>
          </div>

          <app-divider></app-divider>




          <!-- Process Env. Variables -->
          <div fxLayout="column">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Environment Variables
              </p>



              <button (click)="addEnv()" ghost nbButton status="danger">
                Add
              </button>


            </div>


            <ng-container formArrayName="environ">

              <ng-container
                *ngFor="let variable of this.response_form.get('config').get('environ')?.controls ; let i=index ">

                <div [style.marginBottom]="'0.5rem'" [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">


                  <nb-form-field fxFlex fieldSize="small">
                    <span nbPrefix>$</span>

                    <input fullWidth formControlName="key" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>






                  <nb-form-field fxFlex fieldSize="small">
                    <input fullWidth formControlName="value" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>


                  <button ghost nbButton (click)="deleteConfProcess(i)">
                    <nb-icon icon="trash-outline">
                    </nb-icon>
                  </button>




                </div>


              </ng-container>


            </ng-container>


            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('config').get('process').controls .length" fxFlex>
              <p class="subtitle-2 text-hint">
                No Environment Variables Defined
              </p>
            </div>

          </div>

          <app-divider></app-divider>



          <!-- Process Env. Variables -->
          <div fxLayout="column" formGroupName="config">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Process Environment Variables
              </p>



              <button (click)="addConfProcess()" ghost nbButton status="danger">
                Add
              </button>


            </div>


            <ng-container formArrayName="process">

              <ng-container
                *ngFor="let variable of this.response_form.get('config').get('config').get('process').controls ; let i=index ">

                <div [style.marginBottom]="'0.5rem'" [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">


                  <nb-form-field fxFlex fieldSize="small">
                    <span nbPrefix>$</span>

                    <input fullWidth formControlName="key" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>






                  <nb-form-field fxFlex fieldSize="small">
                    <input fullWidth formControlName="value" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>


                  <button ghost nbButton (click)="deleteConfProcess(i)">
                    <nb-icon icon="trash-outline">
                    </nb-icon>
                  </button>




                </div>


              </ng-container>


            </ng-container>


            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('config').get('process').controls .length" fxFlex>
              <p class="subtitle-2 text-hint">
                No Environment Variables Defined
              </p>
            </div>

          </div>

          <app-divider></app-divider>


          <!-- Reserved Env. Variables -->
          <div fxLayout="column" formGroupName="config">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Reserved Environment Variables
              </p>



              <button (click)="addReservedProcess()" ghost nbButton status="danger">
                Add
              </button>


            </div>


            <ng-container formArrayName="reserved">

              <ng-container
                *ngFor="let variable of this.response_form.get('config').get('config').get('reserved').controls ; let i=index ">

                <div [style.marginBottom]="'0.5rem'" [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">


                  <nb-form-field fxFlex fieldSize="small">
                    <span nbPrefix>$</span>

                    <input fullWidth formControlName="key" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>






                  <nb-form-field fxFlex fieldSize="small">
                    <input fullWidth formControlName="value" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>


                  <button ghost nbButton (click)="deleteConfReserved(i)">
                    <nb-icon icon="trash-outline">
                    </nb-icon>
                  </button>




                </div>


              </ng-container>


            </ng-container>

            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('config').get('reserved').controls .length" fxFlex>
              <p class="subtitle-2 text-hint">
                No Reserved Variables Defined
              </p>
            </div>
          </div>

          <app-divider></app-divider>


          <!-- Systen Env. Variables -->
          <div fxLayout="column" formGroupName="config">

            <div fxLayout="row">
              <p fxFlex class="subtitle-2 text-hint">
                Systen Environment Variables
              </p>



              <button (click)="addSystemProcess()" ghost nbButton status="danger">
                Add
              </button>


            </div>


            <ng-container formArrayName="system">

              <ng-container
                *ngFor="let variable of this.response_form.get('config').get('config').get('system').controls ; let i=index ">

                <div [style.marginBottom]="'0.5rem'" [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">



                  <nb-form-field fxFlex fieldSize="small">
                    <span nbPrefix>$</span>

                    <input fullWidth formControlName="key" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>






                  <nb-form-field fxFlex fieldSize="small">
                    <input fullWidth formControlName="value" nbInput placeholder="/usr/bin/mobsf">
                  </nb-form-field>


                  <button ghost nbButton (click)="deleteConfSystem(i)">
                    <nb-icon icon="trash-outline">
                    </nb-icon>
                  </button>




                </div>


              </ng-container>


            </ng-container>

            <div fxFlex fxLayoutAlign="center center"
              *ngIf="!this.response_form.get('config').get('config').get('system').controls .length" fxFlex>
              <p class="subtitle-2 text-hint">
                No System Variables Defined
              </p>
            </div>
          </div>

          <app-divider></app-divider>

        </ng-container>

      </nb-card-body>



      <nb-card-footer *ngIf="runAction" (click)="runTask()">

        <button class="buildBtn" fxLayoutAlign="space-between center" size="large" status="warning" filled fullWidth
          nbButton>

          <span>
            Run

          </span>
          <nb-icon icon="play-circle"></nb-icon>

        </button>
      </nb-card-footer>

      <nb-card-footer *ngIf="saveAction" (click)="updateScanner()">

        <button class="buildBtn" fxLayoutAlign="space-between center" size="large" status="warning" filled fullWidth
          nbButton>

          <span>
            Save

          </span>
          <nb-icon icon="play-circle"></nb-icon>

        </button>
      </nb-card-footer>


    </nb-card>



  </ng-container>


</ng-container>

<ng-template #loading>
  <div fxLayoutAlign="center center">
    <ngx-progress-spinner></ngx-progress-spinner>
  </div>

</ng-template>

<ng-template #logsTemplate let-close="close" let-context="context">

  <app-log-stream [close]="close" [deep_link]="true" [log_id]="context?.id"></app-log-stream>


</ng-template>