<nb-card fxFill>


  <nb-card-header fxLayoutAlign="start center">


    <div fxFlex fxLayout="row">

      <ng-template #rightBtnTemplate>
        <button shape="round" (click)="toggleJobSelector()" outline class="action" size="medium" nbButton>

          <nb-icon icon="chevron-right-outline">

          </nb-icon>

        </button>
      </ng-template>



      <app-selected-job></app-selected-job>




    </div>

    <!--  -->




    <nb-route-tabset
    
    [fxHide.lt-md]="true" [fxShow]="true"
    [tabs]="tabs"></nb-route-tabset>




  </nb-card-header>

  <nb-card-body fxFlex style="overflow: hidden; border: none;">


    
    <router-outlet name="sub_comp"></router-outlet>

    <!-- <ngx-stepper position="0" [readonly]="false">
      <ngx-step label="step.title" completeIcon="step.icon" active="1" trackBar="false" step="1">
      </ngx-step>
      <ngx-step progress="true" label="step.title" completeIcon="step.icon" step="2">
      </ngx-step>
      <ngx-step label="step.title" completeIcon="step.icon">
      </ngx-step>
    </ngx-stepper>
 -->


  </nb-card-body>

  <nb-card-header [fxShow.lt-md]="true" [fxHide]="true">
    <nb-route-tabset [tabs]="tabs"></nb-route-tabset>

  </nb-card-header>


</nb-card>
