<nb-card fxFill>


  <nb-card-header fxLayoutAlign="space-between center">




    <ng-container *ngIf="slideState | async ; else rightBtnTemplate ">

      <button shape="round" (click)="toggleJobSelector()" outline class="action" size="medium" nbButton>
        <nb-icon icon="chevron-left-outline">

        </nb-icon>
      </button>

    </ng-container>





    <ng-template #rightBtnTemplate>
      <button shape="round" (click)="toggleJobSelector()" outline class="action" size="medium" nbButton>

        <nb-icon icon="chevron-right-outline">

        </nb-icon>

      </button>
    </ng-template>


    <div fxFlex fxLayoutAlign="space-between">

      <!--  -->
      <div *ngIf="SelectedJob | async as SelectedJob">

        <button (click)="openToToolsSelection()" ghost status="primary" shape="round" class="title" nbButton
          size="medium">
          {{( SelectedJob )?.tool?.alias}}

        </button>

        <button (click)="openToToolsSelection( SelectedJob?.tool?._id )" ghost shape="round" class="title" nbButton
          size="medium">
          {{( SelectedJob )?._id}}
        </button>
      </div>
    </div>

    <!--  -->

    <nb-route-tabset [tabs]="tabs"></nb-route-tabset>



  </nb-card-header>

  <nb-card-body fxFlex>


    <router-outlet name="sub_comp"></router-outlet>

    <!-- <ngx-stepper position="0" [readonly]="false">
      <ngx-step label="step.title" completeIcon="step.icon" active="1" trackBar="false" step="1">
      </ngx-step>
      <ngx-step progress="true" label="step.title" completeIcon="step.icon" step="2">
      </ngx-step>
      <ngx-step label="step.title" completeIcon="step.icon">
      </ngx-step>
    </ngx-stepper>
 -->


  </nb-card-body>

  <!-- <nb-card-footer>
    <nb-route-tabset fxFlex [tabs]="tabs"></nb-route-tabset>
  </nb-card-footer> -->


</nb-card>
