@import 'themes';

@import '@nebular/theme/styles/globals';




@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */


.backdrop_color {
  // background: #222b45 !important;
  background: #fff !important;
}

.cdk-global-scrollblock {
  position: initial;
  width: initial;
  overflow: hidden;
}

// Breaking Change
.ngx-overlay {
  // z-index: 1040 !important;
}

*,
*:focus,
*:hover {
  outline: none;
}

.dialog {
  nb-card {
    width: 50rem !important;
    box-shadow: 0 4px 8px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 1px rgba(60, 64, 67, 0.149) !important;

  }
}

button {
  text-transform: capitalize !important;
}


@media only screen and (max-width: 500px) {
  html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
  }

  /* should render everything * 0.8 */
}

.test {
  // top: 4rem;
  right: 0;
  height: 100%;
  position: absolute !important;
  background: #fff;
  width: 50% !important;

  nb-dialog-container{
    // display: flex;
    // flex: 1;
    width: 100%;
  }

}

.test2 {

  height: calc(100vh - 4rem);
  overflow: auto;


}


.overlay-menu{
  // display: flex;
  // flex: 1;
}