@import 'themes';

@import '~@nebular/theme/styles/globals';


// @import '~@swimlane/ngx-ui/index.css';


@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */


.backdrop_color{
// background: #222b45 !important;
background: #fff !important;
}

.cdk-global-scrollblock {
  position: initial;
  width: initial;
  overflow: hidden;
}

.ngx-overlay{
  z-index: 1040 !important;
}

*,*:focus,*:hover{
  outline:none;
}