@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';

$nb-enable-css-custom-properties: true; // <-- enable css custom properties



$nb-themes: nb-register-theme(( // text-basic-color: color-basic-800, // some styles we changed
    // text-disabled-color: color-basic-600,

    list-scrollbar-color: #000,
    list-scrollbar-background-color: #000,

    actions-small-padding: 5px,
    layout-scrollbar-color: #000,
    layout-scrollbar-background-color: #000,

    // layout-scrollbar-width: 4rem,
    sidebar-padding: 0,
    option-selected-background-color: nb-theme(color-basic-800),
    option-selected-focus-background-color: nb-theme(color-basic-800),
    option-active-background-color: nb-theme(color-basic-300),

    option-selected-hover-background-color: nb-theme(color-basic-800),

    option-background-color:  nb-theme(color-basic-200),
    // 


    tag-text-transform: 'none',
    layout-small-padding: 0em,

    route-tabset-tab-text-transform: capitalize,
    route-tabset-tab-underline-width: 2px,

    // route-tabset-tab-hover-underline-color: nb-theme(color-basic-600),
    // route-tabset-tab-hover-text-color: nb-theme(color-basic-800),

    route-tabset-divider-width: 1px,
    route-tabset-scrollbar-width: 0em,
    route-tabset-tab-padding: 0.5rem,
    route-tabset-content-padding: 1rem,

    route-tabset-content-text-line-height: 2rem,
    route-tabset-tab-text-line-height: 2rem,



    route-route-tabset-tab-text-font-size: 0.5rem,
    route-route-tabset-tab-text-font-weight: 300,
    header-height: 4rem,
    header-padding: 0rem,
    card-header-text-font-weight: 500,
    card-padding: 1rem,

    // Custom Variables
    navitem-radius: 6px,
    navitem-background: #74b9ff,
    navitem-hover-background: hsla(0, 0%, 0%, 0.3),
    navitem-selected-background: #0984e3,
    // navitem-selected-background:llinear-gradient(to right, #36d1dc, #5b86e5),
    /* Chrome 10-25, Safari 5.1-6 */

    navitem-expanded-background: #74b9ff,
    navitem-text: #868e96,
    navitem-hover-text: #fff,
    navitem-selected-text: #fff,
    navitem-expanded-text: #fff,


    navsubitem-expanded-background: #74b9ff,
    navsubitem-text: #868e96,
    navsubitem-hover-text: #fff,
    navsubitem-selected-text: #74b9ff,
    navsubitem-expanded-text: #fff,




    accordion-padding: 10px 100px 10px 15px,
    accordion-header-text-font-weight: 400,
    accordion-header-border-width: 0,
    accordion-header-text-color: nb-theme(color-basic-800),
    // accordion-item-background-color:  nb-theme(color-basic-400),





    input-basic-focus-background-color: nb-theme(background-basic-color-4),
    // input-border-width: 0,
    input-basic-focus-border-color: nb-theme(color-basic-900),
    input-basic-hover-border-color: nb-theme(color-basic-600),


    option-list-border-width: 0rem,


    toggle-height: 1.2rem,
    toggle-width: 2rem,
    toggle-switcher-size: 1rem,
    toggle-switcher-icon-size: 0.3rem,



    // option-list-adjacent-border-width: 0rem,

  ), default, default);



$nb-themes: nb-register-theme(( // text-basic-color: color-basic-800, // some styles we changed


    route-tabset-tab-underline-width: 0.1rem,

    route-tabset-divider-width: 0.2rem,
    route-route-tabset-tab-text-font-size: 0.5rem,
    route-route-tabset-tab-text-font-weight: 300,
    header-height: 4rem,
    header-padding: 0rem,
    card-header-text-font-weight: 500,
    card-padding: 1rem,

    // Custom Variables
    navitem-radius: 6px,
    navitem-background: #74b9ff,
    navitem-hover-background: hsla(0, 0%, 0%, 0.3),
    navitem-selected-background: #0984e3,
    // navitem-selected-background:llinear-gradient(to right, #36d1dc, #5b86e5),
    /* Chrome 10-25, Safari 5.1-6 */

    navitem-expanded-background: #74b9ff,
    navitem-text: #868e96,
    navitem-hover-text: #fff,
    navitem-selected-text: #fff,
    navitem-expanded-text: #fff,


    navsubitem-expanded-background: #74b9ff,
    navsubitem-text: #868e96,
    navsubitem-hover-text: #fff,
    navsubitem-selected-text: #74b9ff,
    navsubitem-expanded-text: #fff,

    accordion-padding: 10px 100px 10px 15px,
    accordion-header-text-font-weight: 400,
    accordion-header-border-width: 0,

    accordion-header-text-color : rgb(184, 199, 224),





  ), dark, dark);



:root {
  --small-checkbox: 16px
}

$nb-themes: nb-register-theme(( // add your variables here like:

  ), default, default);


@mixin gradient-selected-background() {
  background: linear-gradient(to right, #5b86e5, #36d1dc);

}

@mixin gradient-hover-background() {

  background: linear-gradient(to right, #457fca, #5b86e5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradient-expanded-background() {

  background: linear-gradient(to right, #457fca, #5b86e5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin add-new-action-button() {

  padding: 0.3rem !important;

  padding-left: 1rem !important;
  padding-right: 1rem !important;

  text-transform: capitalize !important;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149) !important;

  align-items: center !important;
  background-color: #fff !important;

  border: 1px solid transparent;
  border-radius: 24px;
  color: #3c4043 !important;


  span {
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .icon {
    margin-right: 1rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2236%22 height=%2236%22 viewBox=%220 0 36 36%22%3E%3Cpath fill=%22%2334A853%22 d=%22M16 16v14h4V20z%22/%3E%3Cpath fill=%22%234285F4%22 d=%22M30 16H20l-4 4h14z%22/%3E%3Cpath fill=%22%23FBBC05%22 d=%22M6 16v4h10l4-4z%22/%3E%3Cpath fill=%22%23EA4335%22 d=%22M20 16V6h-4v14z%22/%3E%3Cpath fill=%22none%22 d=%22M0 0h36v36H0z%22/%3E%3C/svg%3E');
    width: 2rem !important;
    height: 2rem !important;

  }

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(60, 64, 67, 0.302), 0 3px 5px 1px rgba(60, 64, 67, 0.149) !important;
    background-color: #fff !important;

  }
}
