@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(( // text-basic-color: color-basic-800, // some styles we changed
    // text-disabled-color: color-basic-600,
  ), default, default);

$nb-themes: nb-register-theme(( // text-basic-color: color-basic-800, // some styles we changed
    // text-disabled-color: color-basic-600,


    tabset-tab-underline-width: 0.1rem,
    tabset-divider-width: 5px,
    route-tabset-tab-text-font-size: 0.5rem,
    route-tabset-tab-text-font-weight: 300,
    // header-text-font-weight: 250,
    header-height: 4rem,
    card-header-text-font-weight: 500,
    card-padding: 1rem,

  ), dark, dark);

:root {
  --small-checkbox: 16px
}

$nb-themes: nb-register-theme(( // add your variables here like:

    // color-primary-100: #f2f6ff,
    // color-primary-200: #d9e4ff,
    // color-primary-300: #a6c1ff,
    // color-primary-400: #598bff,
    // color-primary-500: #3366ff,
    // color-primary-600: #274bdb,
    // color-primary-700: #1a34b8,
    // color-primary-800: #102694,
    // color-primary-900: #091c7a,

  ), default, default);
