<div fxFlex class="container">


  <div   fxLayout="row" fxFlex class="list-head" fxLayoutAlign="start center" fxLayoutGap="1rem">

    <div fxFlex>
      <nb-form-field >
        <nb-icon icon="search-outline" nbPrefix status="basic" >

        </nb-icon>
        <input nbInput fullWidth placeholder="Search Host"   status="primary">

      </nb-form-field>
    </div>



    <div  fxLayoutGap="1rem">
      <button (click)="addIp(addIpTemplate)" fxFlex nbButton status="basic" outline>Add New</button>
      <button (click)="addIp(addIpTemplate)" fxFlex nbButton status="success" outline>Import</button>
    </div>
  </div>
</div>

<ng-template #addIpTemplate>
  <app-host-add></app-host-add>
</ng-template>
