<nb-layout center [restoreScrollTop]="true" [windowMode]="true">

  <nb-layout-header fixed>
    <div fxFlex fxLayoutAlign="start center">
      <div class="imageContainer" fxLayoutAlign="center center">
        <img src="/assets/logo.png">
      </div>
    </div>
  </nb-layout-header>





  <nb-sidebar left fxLayout="column">



    <nb-list>


      <nb-list-item @init *ngFor="let assetType of assetTypes; index as index">
        <app-navbar-list-item [activestate]="activeState" [item]="assetType" [routerlink]="assetType.type"
          fxLayout="column" [title]="assetType.name" fxFlex>
          <!-- <nb-icon icon="settings-outline">     </nb-icon> -->

        </app-navbar-list-item>
      </nb-list-item>


    </nb-list>



    <!-- <nb-sidebar-footer>

      <div fxFlex fxLayoutAlign="center center">
        <button
        
        (click)="openSettings(settingsTemplate)" nbButton fxFlex filled status="success">
          <nb-icon icon="settings-outline">

          </nb-icon>
          Configuration
        </button>
      </div>



    </nb-sidebar-footer> -->

  </nb-sidebar>



  <nb-layout-column>


    <!-- <app-spinner>

  </app-spinner> -->

    <router-outlet>

    </router-outlet>



  </nb-layout-column>




</nb-layout>


<ng-template #settingsTemplate>
  <app-asset-configuration></app-asset-configuration>
</ng-template>
