.subtitle {
  //   padding: 1rem;
  //   margin: 0px;
  color: #a4b1cd !important;
  font-weight: 600;
  line-height: 1rem;
  font-size: 1rem;
  // font-family: neue-haas-unica,sans-serif;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

:host ::ng-deep nb-sidebar {

  margin-right: 0 !important;
  margin-left: 0 !important;


  nb-list-item {
    padding: 0px !important; 
    border: 0 !important;
  }

  .item {
    padding: 1rem;
    border: 0;
  }

  .scrollable {

    padding: 0px !important;

  }

  nb-tab {
    padding: 1.25rem;
  }


}

nb-list-item {
  margin-left: 3px !important;
  margin-right: 3px !important;
  margin-top: 0.5rem !important;
  padding: 0.8rem !important;
  font-weight: 350 !important;

}


:host ::ng-deep {
  .accordion-item-header-expanded {

    background: #fff !important;
    color: rgb(41, 40, 40) !important;
    font-weight: 550 !important;
  }
}

:host ::ng-deep {

  nb-accordion-item-body {
    .item-body {
      padding: 0px !important;

    }
  }

}


.selected-route {
  background: #fff !important;
  color: #000 !important;
  font-weight: 600 !important;
}

nb-sidebar-footer {
  padding: 0px !important;
  font-weight: 600 !important;
  background: #171a21 !important;
}

nb-sidebar-header {
  padding: 0px !important;
  font-weight: 600 !important;
  background: #171a21 !important;
}


.colored {
  color: #3366ff;
}
