@import './../styles/colors/colors';

.ngx-drawer {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  z-index: 998;
  background: $color-blue-grey-800;

  &.left-drawer {
    top: 4rem ;
    left: 0;
    height: 100%;
  }

  &.bottom-drawer {
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: calc( 100vh - 4rem );

  }

  .ngx-drawer-content {
    height: calc( 100vh - 4rem );
    overflow: auto;

  }
}
