<ng-container *ngIf=" builds$ | async as builds ; else loading">


  <nb-layout-header @init subHeader>



    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxLayout="row" fxLayoutAlign="start center">

        <button shape="round" [routerLink]="['/tools' ]" ghost status="basic" class="action" size="large" nbButton>
          <nb-icon icon="arrow-back-outline">

          </nb-icon>
        </button>

        <div class="h6 text-hint">

          Builds

        </div>
      </div>



      <div [style.marginRight]=" '0.5rem' " fxFlex fxLayout="row" fxLayoutAlign="end center">

        <button (click)="openDrawer(buildCreateTemplate)" class="newBtn" shape="round" nbButton>

          <div class="icon"></div>

          <span>
            Create Build

          </span>
        </button>


      </div>

    </div>

  </nb-layout-header>






  <nb-accordion @init>
    <nb-accordion-item [expanded]="index == 0" *ngFor="let build of builds  ; index as index">
      <nb-accordion-item-header fxLayoutAlign="space-between">



        <span>
          {{ build?.name || 'Build Name' }}

        </span>

        <span class="text-hint">
          {{ '@' +  ( build?.alias || 'Alias' ) }}
        </span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <nb-card>
          <nb-card-body>
            <div class="text-hint">
              {{ build?.description || 'Build Description' }}

            </div>

            <div class="text-hint">
              {{ build?.doc || date }}

            </div>

          </nb-card-body>
          <nb-card-footer fxLayoutGap="1rem" fxLayoutAlign="end center">

            <button (click)="openDrawer(buildconfigTemplate , context =  { 'build_id':  build?._id } )" status="basic"
              ghost size="small" nbButton>

              <nb-icon icon="file-text-outline"></nb-icon>
              Config
            </button>

            <button (click)="openLogs(logsTemplate, build?._id)" status="basic" ghost size="small" nbButton>

              <nb-icon icon="file-text-outline"></nb-icon>
              Logs
            </button>

            <button (click)="openDrawer(logsTemplate)" status="basic" ghost size="small" nbButton>

              <nb-icon icon="settings-2-outline"></nb-icon>
              Monitor
            </button>


            <button status="basic" ghost size="small" nbButton>

              <nb-icon icon="diagonal-arrow-left-down-outline"></nb-icon>
              Fork
            </button>



          </nb-card-footer>

          <nb-card-footer fxLayoutGap="1rem" fxLayoutAlign="end center">


            <button (click)="openDrawer(buildEditTemplate  , context =  { 'build_id':  build?._id , 'edit_mode': true } )" status="basic" size="small" nbButton>Edit</button>

            <button (click)="runTask( build?._id ) " status="primary" size="small" nbButton>Build</button>

            <button (click)="runTask( build?._id ) " status="danger" size="small" nbButton>Run</button>
          </nb-card-footer>
        </nb-card>


      </nb-accordion-item-body>
    </nb-accordion-item>

  </nb-accordion>

</ng-container>


<ng-template #loading>
  <div fxLayoutAlign="center center">
    <ngx-progress-spinner></ngx-progress-spinner>
  </div>

</ng-template>

<ng-template #logsTemplate let-close="close" let-context="context">


  <app-log-stream [log_id]="context?.id"></app-log-stream>


</ng-template>

<ng-template let-close="close" let-context="context"  #buildEditTemplate>

  <app-build-create [edit_mode]="context.edit_mode" [close]="close" 
  [build_id]="context.build_id"
  [refrence_id]="refrence_id"></app-build-create>

</ng-template>

<ng-template let-close="close" #buildCreateTemplate>

  <app-build-create [close]="close" [refrence_id]="refrence_id"></app-build-create>

</ng-template>




<ng-template let-close="close" let-context="context" #buildconfigTemplate>

  <app-build-config [close]="close" [build_id]="context?.build_id"></app-build-config>

</ng-template>
